USE [STG_FamilyLiving];


GO
SET ANSI_NULLS ON;


GO
SET QUOTED_IDENTIFIER ON;


GO
/***************************************************************************************************
Procedure Name : dbo.usp_SourceRecordCountByYearAndMonth
Author         : Behailu Tessema
Created Date   : 06/05/2026
Database       : STG_FamilyLiving
Schema         : dbo
Project        : DW_FamilyFinance Data Platform

Purpose:
Displays source transaction counts by Year, Month, and SourceName.

Description:
This procedure provides source-system auditing and file-load validation.
It summarizes transaction counts by month and source system to verify
imported records before loading data into DW_FamilyFinance.

Source Tables:
- STG_FamilyLiving.dbo.STG_FamilySourceData

Business Rules:
1. Records are grouped by transaction year and source name.
2. Monthly counts are displayed from January through December.
3. TotalRecordCount represents the annual transaction count.
4. Results support source auditing and SSIS load validation.

Used By:
- SSIS validation process
- Source file auditing
- Data quality review
- ETL reconciliation
- Monthly load verification

Example:
EXEC dbo.usp_SourceRecordCountByYearAndMonth;

Expected Result:
Displays yearly transaction counts by source and month.

## Modification History:

## Date         Author              Description

06/05/2026   Behailu Tessema     Initial source audit procedure.
***************************************************************************************************/
CREATE OR ALTER PROCEDURE dbo.usp_SourceRecordCountByYearAndMonth
AS
BEGIN
    SET NOCOUNT ON;
    SELECT   YEAR([Date]) AS [Year],
             SourceName,
             -- Monthly Counts
    SUM(CASE WHEN MONTH([Date]) = 1 THEN 1 ELSE 0 END) AS Jan,
             SUM(CASE WHEN MONTH([Date]) = 2 THEN 1 ELSE 0 END) AS Feb,
             SUM(CASE WHEN MONTH([Date]) = 3 THEN 1 ELSE 0 END) AS Mar,
             SUM(CASE WHEN MONTH([Date]) = 4 THEN 1 ELSE 0 END) AS Apr,
             SUM(CASE WHEN MONTH([Date]) = 5 THEN 1 ELSE 0 END) AS May,
             SUM(CASE WHEN MONTH([Date]) = 6 THEN 1 ELSE 0 END) AS Jun,
             SUM(CASE WHEN MONTH([Date]) = 7 THEN 1 ELSE 0 END) AS Jul,
             SUM(CASE WHEN MONTH([Date]) = 8 THEN 1 ELSE 0 END) AS Aug,
             SUM(CASE WHEN MONTH([Date]) = 9 THEN 1 ELSE 0 END) AS Sep,
             SUM(CASE WHEN MONTH([Date]) = 10 THEN 1 ELSE 0 END) AS Oct,
             SUM(CASE WHEN MONTH([Date]) = 11 THEN 1 ELSE 0 END) AS Nov,
             SUM(CASE WHEN MONTH([Date]) = 12 THEN 1 ELSE 0 END) AS Dec,
             -- Annual Total
    COUNT(*) AS TotalRecordCount
    FROM     dbo.STG_FamilySourceData
    GROUP BY YEAR([Date]), SourceName
    ORDER BY YEAR([Date]), SourceName;
END