USE [DW_FamilyFinance]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/***************************************************************************************************
Procedure Name : etl.usp_Load_DimIncomeSource
Author         : Behailu Tessema
Created Date   : 06/04/2026
Database       : DW_FamilyFinance
Schema         : etl
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Loads unique employee and workplace combinations into dim.DimIncomeSource
    from the income staging table.

Load Type:
    Incremental insert only.

Source Table:
    - STG_FamilyLiving.dbo.Family_Income

Target Table:
    - DW_FamilyFinance.dim.DimIncomeSource

Business Rules:
    1. One row represents one employee at one workplace.
    2. WorkPlace + EmployeeFullName is the natural business key.
    3. Employees may work at multiple workplaces.
    4. NULL and blank WorkPlace values are excluded.
    5. NULL and blank EmployeeFullName values are excluded.
    6. Leading and trailing spaces are removed before insert.
    7. Existing WorkPlace + EmployeeFullName combinations are not inserted again.
    8. SourceSystem stores the originating income staging table name.

Dependency:
    This procedure must run before:
        - etl.usp_Load_FactIncome

Reason:
    fact.FactIncome requires IncomeSourceKey from dim.DimIncomeSource.

Used By:
    - etl.usp_Load_DW_FamilyFinance
    - fact.FactIncome
    - rpt.vw_IncomeDetail
    - rpt.vw_MonthlyFinancialSummary
    - Power BI Semantic Model

Example:
    EXEC etl.usp_Load_DimIncomeSource;

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial version.
------------------------------------------------------------------------------------------------***/
ALTER PROCEDURE [etl].[usp_Load_DimIncomeSource]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dim.DimIncomeSource
    (
        WorkPlace,
        EmployeeFullName,
        SourceSystem
    )
    SELECT DISTINCT
        LTRIM(RTRIM(s.Work_Place)) AS WorkPlace,
        LTRIM(RTRIM(s.Employee_FullName)) AS EmployeeFullName,
        'STG_FamilyLiving.dbo.Family_Income' AS SourceSystem
    FROM STG_FamilyLiving.dbo.Family_Income s
    WHERE s.Work_Place IS NOT NULL
      AND LTRIM(RTRIM(s.Work_Place)) <> ''
      AND s.Employee_FullName IS NOT NULL
      AND LTRIM(RTRIM(s.Employee_FullName)) <> ''
      AND NOT EXISTS
      (
          SELECT 1
          FROM dim.DimIncomeSource d
          WHERE d.WorkPlace = LTRIM(RTRIM(s.Work_Place))
            AND d.EmployeeFullName = LTRIM(RTRIM(s.Employee_FullName))
      );
END;
GO