USE [DW_FamilyFinance]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/***************************************************************************************************
Procedure Name : etl.usp_Update_FactExpense
Author         : Behailu Tessema
Created Date   : 06/04/2026
Database       : DW_FamilyFinance
Schema         : etl
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Synchronizes corrected expense source values into fact.FactExpense.
    This procedure updates existing fact rows when source transactions,
    bank mappings, description mappings, transaction dates, amounts, or
    load dates are corrected after the original load.

Load Type:
    Update existing rows only.

Source Table:
    - STG_FamilyLiving.dbo.STG_FamilySourceData

Target Table:
    - DW_FamilyFinance.fact.FactExpense

Matching Key:
    SourceExpenseID

Business Rules:
    1. SourceExpenseID is the unique source transaction identifier.
    2. Existing fact rows are updated only when one or more tracked values changed.
    3. TransactionDateKey is recalculated from source [Date] in YYYYMMDD format.
    4. BankKey is re-resolved from dim.DimBank using SourceName.
    5. DescriptionKey is re-resolved from dim.DimDescription using source Description.
    6. ExpenseAmount is recalculated as Debit minus absolute Credit.
    7. LoadDate is updated when the source load date changes.
    8. ModifiedDate is updated only when a change is applied.

Expense Calculation:
    ExpenseAmount = ISNULL(Debit, 0.00) - ABS(ISNULL(Credit, 0.00))

Dimension Dependencies:
    - dim.DimBank
    - dim.DimDescription
    - dim.DimDate

Recommended Load Order:
    1. etl.usp_Load_DimBank
    2. etl.usp_Load_DimDescription
    3. etl.usp_Update_FactExpense
    4. etl.usp_Load_FactExpense

Used By:
    - etl.usp_Load_DW_FamilyFinance
    - Data maintenance and correction workflow
    - Reconciliation process

Example:
    EXEC etl.usp_Update_FactExpense;

Notes:
    This procedure is part of the data maintenance framework. It should run
    before inserting new expense fact rows so existing corrected source
    records are synchronized first, then new records are loaded afterward.

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial version for corrected expense synchronization.
------------------------------------------------------------------------------------------------***/
ALTER PROCEDURE [etl].[usp_Update_FactExpense]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE f
       SET
           f.TransactionID      = s.Transaction_ID,
           f.TransactionDateKey = CONVERT(INT, CONVERT(CHAR(8), s.[Date], 112)),
           f.BankKey            = b.BankKey,
           f.DescriptionKey     = d.DescriptionKey,
           f.ExpenseAmount      = ISNULL(s.Debit, 0.00) - ABS(ISNULL(s.Credit, 0.00)),
           f.LoadDate           = s.LoadDate,
           f.ModifiedDate       = SYSDATETIME()
    FROM fact.FactExpense f
    INNER JOIN STG_FamilyLiving.dbo.STG_FamilySourceData s
        ON s.ExpenseSourceID = f.SourceExpenseID
    INNER JOIN dim.DimBank b
        ON b.BankName = LTRIM(RTRIM(s.SourceName))
    INNER JOIN dim.DimDescription d
        ON d.DescriptionName = LTRIM(RTRIM(s.[Description]))
    WHERE
        ISNULL(f.TransactionID, '') <> ISNULL(s.Transaction_ID, '')
        OR f.TransactionDateKey <> CONVERT(INT, CONVERT(CHAR(8), s.[Date], 112))
        OR f.BankKey <> b.BankKey
        OR f.DescriptionKey <> d.DescriptionKey
        OR ISNULL(f.ExpenseAmount, 0.00) <> ISNULL(s.Debit, 0.00) - ABS(ISNULL(s.Credit, 0.00))
        OR ISNULL(f.LoadDate, '1900-01-01') <> ISNULL(s.LoadDate, '1900-01-01');
END;
GO