USE [DW_FamilyFinance]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/***************************************************************************************************
Procedure Name : etl.usp_Update_FactIncome
Author         : Behailu Tessema
Created Date   : 06/04/2026
Database       : DW_FamilyFinance
Schema         : etl
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Synchronizes corrected payroll and income values from the staging
    income table into fact.FactIncome. This procedure updates existing
    fact rows when payroll amounts, tax values, or payment validation
    values are corrected after the original load.

Load Type:
    Update existing rows only.

Source Table:
    - STG_FamilyLiving.dbo.Family_Income

Target Table:
    - DW_FamilyFinance.fact.FactIncome

Matching Key:
    SourceIncomeID

Business Rules:
    1. SourceIncomeID is the unique source paycheck identifier.
    2. Existing fact rows are updated only when one or more tracked values changed.
    3. Payroll amount and tax values are synchronized from the staging table.
    4. NULL numeric values are treated as 0 for comparison.
    5. PaymentValidation is synchronized from the staging table.
    6. ModifiedDate is updated only when a change is applied.

Updated Columns:
    - GrossPayment
    - FederalTax
    - SSTax
    - MedicareTax
    - CAStateTax
    - CASDITax
    - EmployerNetPay
    - TotalTax
    - PaymentValidation
    - ModifiedDate

Recommended Load Order:
    1. etl.usp_Load_DimIncomeSource
    2. etl.usp_Update_FactIncome
    3. etl.usp_Load_FactIncome

Used By:
    - etl.usp_Load_DW_FamilyFinance
    - Data maintenance and correction workflow
    - Payroll reconciliation process
    - Power BI Semantic Model

Example:
    EXEC etl.usp_Update_FactIncome;

Notes:
    This procedure is part of the data maintenance framework. It should run
    before inserting new income fact rows so corrected source records are
    synchronized first, then new paycheck rows are loaded afterward.

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial version for corrected payroll synchronization.
------------------------------------------------------------------------------------------------***/
ALTER PROCEDURE [etl].[usp_Update_FactIncome]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE f
       SET
           f.GrossPayment      = ISNULL(s.Gross_Payment, 0.00),
           f.FederalTax        = ISNULL(s.Federal_Tax, 0.00),
           f.SSTax             = ISNULL(s.SS_Tax, 0.00),
           f.MedicareTax       = ISNULL(s.Medical_Tax, 0.00),
           f.CAStateTax        = ISNULL(s.CA_State_Tax, 0.00),
           f.CASDITax          = ISNULL(s.CA_SDI_Tax, 0.00),
           f.EmployerNetPay    = ISNULL(s.Employer_NetPay, 0.00),
           f.TotalTax          = ISNULL(s.Total_Tax, 0.00),
           f.PaymentValidation = ISNULL(s.Payment_Validation, 0),
           f.ModifiedDate      = SYSDATETIME()
    FROM fact.FactIncome f
    INNER JOIN STG_FamilyLiving.dbo.Family_Income s
        ON s.IncomeSourceID = f.SourceIncomeID
    WHERE
        ISNULL(f.GrossPayment, 0.00)      <> ISNULL(s.Gross_Payment, 0.00)
        OR ISNULL(f.FederalTax, 0.00)     <> ISNULL(s.Federal_Tax, 0.00)
        OR ISNULL(f.SSTax, 0.00)          <> ISNULL(s.SS_Tax, 0.00)
        OR ISNULL(f.MedicareTax, 0.00)    <> ISNULL(s.Medical_Tax, 0.00)
        OR ISNULL(f.CAStateTax, 0.00)     <> ISNULL(s.CA_State_Tax, 0.00)
        OR ISNULL(f.CASDITax, 0.00)       <> ISNULL(s.CA_SDI_Tax, 0.00)
        OR ISNULL(f.EmployerNetPay, 0.00) <> ISNULL(s.Employer_NetPay, 0.00)
        OR ISNULL(f.TotalTax, 0.00)       <> ISNULL(s.Total_Tax, 0.00)
        OR ISNULL(f.PaymentValidation, 0) <> ISNULL(s.Payment_Validation, 0);
END;
GO