USE [DW_FamilyFinance]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/***************************************************************************************************
Procedure Name : etl.usp_Load_DimDescription
Author         : Behailu Tessema
Created Date   : 06/04/2026
Database       : DW_FamilyFinance
Schema         : etl
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Loads unique expense description mappings and business classification
    attributes into dim.DimDescription from the staging lookup table.

Load Type:
    Incremental insert only.

Source Table:
    - STG_FamilyLiving.dbo.STG_Description_LookUp

Target Table:
    - DW_FamilyFinance.dim.DimDescription

Business Rules:
    1. One row represents one unique DescriptionName.
    2. DescriptionName is the business key.
    3. Category, SubCategory, and ExpenseType are maintained in the lookup table.
    4. NULL and blank DescriptionName values are excluded.
    5. Leading and trailing spaces are removed before insert.
    6. Existing DescriptionName values are not inserted again.
    7. SourceSystem stores the originating lookup table name.

Dependency:
    This procedure must run before:
        - etl.usp_Load_FactExpense

Reason:
    fact.FactExpense requires DescriptionKey from dim.DimDescription.

Used By:
    - etl.usp_Load_DW_FamilyFinance
    - fact.FactExpense
    - rpt.vw_ExpenseDetail
    - rpt.vw_MonthlyFinancialSummary
    - Power BI Semantic Model

Example:
    EXEC etl.usp_Load_DimDescription;

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial version.
------------------------------------------------------------------------------------------------***/
ALTER PROCEDURE [etl].[usp_Load_DimDescription]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dim.DimDescription
    (
        DescriptionName,
        [Description],
        Category,
        SubCategory,
        ExpenseType,
        SourceSystem
    )
    SELECT
        LTRIM(RTRIM(s.LookUp_Description_Name)) AS DescriptionName,
        LTRIM(RTRIM(s.LookUp_Description)) AS [Description],
        LTRIM(RTRIM(s.LookUp_Category)) AS Category,
        LTRIM(RTRIM(s.LookUp_SubCategory)) AS SubCategory,
        LTRIM(RTRIM(s.LookUp_ExpenseType)) AS ExpenseType,
        'STG_FamilyLiving.dbo.STG_Description_LookUp' AS SourceSystem
    FROM STG_FamilyLiving.dbo.STG_Description_LookUp s
    WHERE s.LookUp_Description_Name IS NOT NULL
      AND LTRIM(RTRIM(s.LookUp_Description_Name)) <> ''
      AND NOT EXISTS
      (
          SELECT 1
          FROM dim.DimDescription d
          WHERE d.DescriptionName = LTRIM(RTRIM(s.LookUp_Description_Name))
      );
END;
GO