USE [STG_FamilyLiving];
GO

SET ANSI_NULLS ON;
GO

SET QUOTED_IDENTIFIER ON;
GO

/***************************************************************************************************
Procedure Name : dbo.usp_UppercaseLookupColumns
Author         : Behailu Tessema
Created Date   : 06/05/2026
Database       : STG_FamilyLiving
Schema         : dbo
Project        : DW_FamilyFinance Data Platform

Purpose:
Converts selected lookup columns to uppercase to ensure consistent
categorization and reporting.

Description:
This procedure standardizes text values stored in
dbo.STG_Description_LookUp before the data is loaded into
DW_FamilyFinance.dim.DimDescription.

Target Table:
- STG_FamilyLiving.dbo.STG_Description_LookUp

Target Columns:
- LookUp_Description
- LookUp_SubCategory
- LookUp_ExpenseType
- LookUp_Category

Business Rules:
1. All target columns are converted to uppercase.
2. Existing NULL values remain unchanged.
3. Standardization occurs before DW loading.
4. Procedure supports lookup maintenance and data quality consistency.

Used By:
- Lookup maintenance process
- Data cleansing process
- Pre-DW validation
- DimDescription load preparation

Example:
EXEC dbo.usp_UppercaseLookupColumns;

Expected Result:
All lookup descriptions, categories, subcategories, and expense types
are stored in uppercase format.

## Modification History:

## Date         Author              Description

06/05/2026   Behailu Tessema     Initial lookup standardization procedure.
***************************************************************************************************/

CREATE OR ALTER PROCEDURE dbo.usp_UppercaseLookupColumns
AS
BEGIN


SET NOCOUNT ON;

UPDATE dbo.STG_Description_LookUp
   SET LookUp_Description =
       CASE
           WHEN LookUp_Description IS NULL THEN NULL
           ELSE UPPER(LookUp_Description)
       END,

       LookUp_SubCategory =
       CASE
           WHEN LookUp_SubCategory IS NULL THEN NULL
           ELSE UPPER(LookUp_SubCategory)
       END,

       LookUp_ExpenseType =
       CASE
           WHEN LookUp_ExpenseType IS NULL THEN NULL
           ELSE UPPER(LookUp_ExpenseType)
       END,

       LookUp_Category =
       CASE
           WHEN LookUp_Category IS NULL THEN NULL
           ELSE UPPER(LookUp_Category)
       END
WHERE
       LookUp_Description COLLATE Latin1_General_BIN LIKE '%[a-z]%'
    OR LookUp_SubCategory COLLATE Latin1_General_BIN LIKE '%[a-z]%'
    OR LookUp_ExpenseType COLLATE Latin1_General_BIN LIKE '%[a-z]%'
    OR LookUp_Category COLLATE Latin1_General_BIN LIKE '%[a-z]%';


END;
GO
