USE [STG_FamilyLiving];


GO
SET ANSI_NULLS ON;


GO
SET QUOTED_IDENTIFIER ON;


GO
/***************************************************************************************************
Procedure Name : dbo.usp_SearchSourceExpenseDescription
Author         : Behailu Tessema
Created Date   : 06/05/2026
Database       : STG_FamilyLiving
Schema         : dbo
Project        : DW_FamilyFinance Data Platform

Purpose:
Searches source expense transactions using description text.

Description:
This procedure allows users to search source transaction descriptions
stored in dbo.STG_FamilySourceData. It is commonly used during
lookup maintenance, category mapping, and troubleshooting unmatched
expense descriptions.

Source Tables:
- STG_FamilyLiving.dbo.STG_FamilySourceData

Business Rules:
1. Search is performed using a wildcard match against Description.
2. Results are sorted by transaction date descending.
3. Procedure supports lookup maintenance activities.
4. Procedure supports unmatched description investigation.

Used By:
- Lookup maintenance process
- Expense categorization review
- SSIS troubleshooting
- Data quality validation

Parameter(s):
@SearchText
Description text to search for.

Example:
EXEC dbo.usp_SearchSourceExpenseDescription
@SearchText = 'Costco';

Expected Result:
Returns matching source expense transactions.

## Modification History:

## Date         Author              Description

06/05/2026   Behailu Tessema     Initial search procedure.
***************************************************************************************************/
CREATE OR ALTER PROCEDURE dbo.usp_SearchSourceExpenseDescription
@SearchText NVARCHAR (255)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT   ExpenseSourceID,
             Transaction_ID,
             [Date],
             [Description],
             Debit,
             Credit,
             Category,
             SourceName,
             LoadDate
    FROM     dbo.STG_FamilySourceData
    WHERE    [Description] LIKE '%' + @SearchText + '%'
    ORDER BY [Date] DESC, SourceName, [Description];
END