/***************************************************************************************************
Table Name    : dim.DimBank
Author        : Behailu Tessema
Created Date  : 06/04/2026
Database      : DW_FamilyFinance
Schema        : dim

Purpose:
    Stores banking institutions and source system information used by
    expense transactions within the DW_FamilyFinance Data Warehouse.

Grain:
    One row per unique bank or financial institution.

Primary Key:
    BankKey

Business Key:
    BankName

Business Rules:
    1. Each bank must have a unique BankName.
    2. BankKey is a surrogate key generated using an IDENTITY column.
    3. SourceSystem identifies the originating system or institution.
    4. A bank record must exist before expense transactions can be loaded
       into fact.FactExpense.
    5. Supports referential integrity between dimension and fact tables.

Used By:
    - fact.FactExpense
    - rpt.vw_ExpenseDetail
    - rpt.vw_MonthlyFinancialSummary
    - Power BI Semantic Model

Expected Source Values:
    - Wells Fargo Bank
    - Citi Bank
    - Additional financial institutions as required

Notes:
    This dimension provides a centralized reference for all banking
    institutions represented in the Family Finance Data Warehouse and
    enables reporting and analysis by financial source.

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial version.
------------------------------------------------------------------------------------------------***/
USE DW_FamilyFinance;
GO

IF OBJECT_ID('dim.DimBank', 'U') IS NULL
BEGIN
    CREATE TABLE dim.DimBank
    (
        BankKey      INT IDENTITY(1,1) NOT NULL,
        BankName     VARCHAR(100) NOT NULL,
        SourceSystem VARCHAR(100) NOT NULL,
        CreatedDate  DATETIME2(0) NOT NULL
            CONSTRAINT DF_DimBank_CreatedDate DEFAULT SYSDATETIME(),
        ModifiedDate DATETIME2(0) NULL,

        CONSTRAINT PK_DimBank PRIMARY KEY CLUSTERED (BankKey),
        CONSTRAINT UQ_DimBank_BankName UNIQUE (BankName)
    );
END;
GO