USE [master]
GO
/****** Object:  StoredProcedure [dbo].[usp_Project_DW_FamilyFinance]    Script Date: 6/4/2026 07:57:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
===============================================================================
Project Name    : DW_FamilyFinance
Procedure Name  : dbo.usp_Project_DW_FamilyFinance
Author          : Behailu Tessema
Version         : 1.0
Purpose         : Enterprise documentation procedure for the DW_FamilyFinance
                  data warehouse and STG_FamilyLiving staging environment.
===============================================================================
Change History
-------------------------------------------------------------------------------
Date         Author              Description
-------------------------------------------------------------------------------
2026-06-04   Behailu Tessema     Initial creation
===============================================================================
*/

ALTER   PROCEDURE [dbo].[usp_Project_DW_FamilyFinance]
AS
BEGIN
    SET NOCOUNT ON;

    /* SECTION 1 - PROJECT OVERVIEW */
    SELECT
        'SECTION 1 - PROJECT OVERVIEW' AS DocumentationSection,
        'DW_FamilyFinance' AS ProjectName,
        'Family Income and Expense Data Warehouse' AS ProjectDescription,
        'Version 1.0' AS VersionNo,
        'Behailu Tessema' AS ProjectOwner,
        'SQL Server 2022, SSIS, Power BI, Git' AS Technologies,
        GETDATE() AS DocumentationGeneratedDate;

    /* SECTION 2 - DATABASES */
    SELECT *
    FROM
    (
        VALUES
        ('DW_FamilyFinance', 'Final reporting data warehouse used by Power BI'),
        ('STG_FamilyLiving', 'Staging database for raw bank, income, lookup, and audit data')
    ) AS D(DatabaseName, DatabasePurpose);

    /* SECTION 3 - DW TABLES */
    SELECT *
    FROM
    (
        VALUES
        ('DW_FamilyFinance', 'dim.DimBank', 'Dimension', 'Bank/source dimension'),
        ('DW_FamilyFinance', 'dim.DimDate', 'Dimension', 'Calendar/date dimension'),
        ('DW_FamilyFinance', 'dim.DimDescription', 'Dimension', 'Expense description/category mapping dimension'),
        ('DW_FamilyFinance', 'dim.DimIncomeSource', 'Dimension', 'Employer/workplace dimension'),
        ('DW_FamilyFinance', 'fact.FactExpense', 'Fact', 'Final expense transaction fact table'),
        ('DW_FamilyFinance', 'fact.FactIncome', 'Fact', 'Final paycheck/income fact table')
    ) AS T(DatabaseName, ObjectName, ObjectType, ObjectPurpose);

    /* SECTION 4 - STG TABLES */
    SELECT *
    FROM
    (
        VALUES
        ('STG_FamilyLiving', 'dbo.Family_Income', 'Staging Table', 'Raw/staged paycheck and income data'),
        ('STG_FamilyLiving', 'dbo.STG_Description_LookUp', 'Lookup Table', 'Expense description/category lookup table'),
        ('STG_FamilyLiving', 'dbo.STG_FamilySourceData', 'Staging Table', 'Raw/staged bank transaction data'),
        ('STG_FamilyLiving', 'dbo.STG_FileLoadAudit', 'Audit Table', 'File load audit tracking table')
    ) AS T(DatabaseName, ObjectName, ObjectType, ObjectPurpose);

    /* SECTION 5 - DW STORED PROCEDURES */
    SELECT *
    FROM
    (
        VALUES
        ('DW_FamilyFinance', 'etl.usp_Load_DimBank', 'Loads dim.DimBank'),
        ('DW_FamilyFinance', 'etl.usp_Load_DimDate', 'Loads dim.DimDate'),
        ('DW_FamilyFinance', 'etl.usp_Load_DimDescription', 'Loads dim.DimDescription'),
        ('DW_FamilyFinance', 'etl.usp_Load_DimIncomeSource', 'Loads dim.DimIncomeSource'),
        ('DW_FamilyFinance', 'etl.usp_Load_DW_FamilyFinance', 'Master ETL wrapper procedure'),
        ('DW_FamilyFinance', 'etl.usp_Load_FactExpense', 'Loads fact.FactExpense'),
        ('DW_FamilyFinance', 'etl.usp_Load_FactIncome', 'Loads fact.FactIncome'),
        ('DW_FamilyFinance', 'etl.usp_Update_FactExpense', 'Updates fact.FactExpense records'),
        ('DW_FamilyFinance', 'etl.usp_Update_FactIncome', 'Updates fact.FactIncome records')
    ) AS P(DatabaseName, ProcedureName, ProcedurePurpose);

    /* SECTION 6 - STG STORED PROCEDURES */
    SELECT *
    FROM
    (
        VALUES
        ('STG_FamilyLiving', 'dbo.usp_IdentifyDuplicateLookupSubCategory', 'Identifies duplicate lookup subcategories'),
        ('STG_FamilyLiving', 'dbo.usp_SearchSourceExpenseDescription', 'Searches source expense descriptions'),
        ('STG_FamilyLiving', 'dbo.usp_SourceRecordCountByYearAndMonth', 'Returns source record counts by year and month'),
        ('STG_FamilyLiving', 'dbo.usp_STG_FamilyLiving_BlockDocumentation', 'Documents staging database objects and process'),
        ('STG_FamilyLiving', 'dbo.usp_UppercaseLookupColumns', 'Standardizes lookup columns to uppercase')
    ) AS P(DatabaseName, ProcedureName, ProcedurePurpose);

    /* SECTION 7 - DW REPORTING VIEWS */
    SELECT *
    FROM
    (
        VALUES
        ('DW_FamilyFinance', 'rpt.vw_ExpenseAudit', 'Expense audit view'),
        ('DW_FamilyFinance', 'rpt.vw_ExpenseDetail', 'Detailed expense reporting view'),
        ('DW_FamilyFinance', 'rpt.vw_ExpenseReconciliation', 'Expense reconciliation view'),
        ('DW_FamilyFinance', 'rpt.vw_ExpenseRecordCountByYearBank', 'Expense record count by year and bank'),
        ('DW_FamilyFinance', 'rpt.vw_ExpenseSelection', 'Expense selection/filtering view'),
        ('DW_FamilyFinance', 'rpt.vw_IncomeAudit', 'Income audit view'),
        ('DW_FamilyFinance', 'rpt.vw_IncomeDetail', 'Detailed income reporting view'),
        ('DW_FamilyFinance', 'rpt.vw_IncomeReconciliation', 'Income reconciliation view'),
        ('DW_FamilyFinance', 'rpt.vw_MonthlyFinancialSummary', 'Monthly income, expense, and savings summary'),
        ('DW_FamilyFinance', 'rpt.vw_MonthlySavingsSummary', 'Monthly savings summary'),
        ('DW_FamilyFinance', 'rpt.vw_RecordCountReconciliation', 'Record count reconciliation view')
    ) AS V(DatabaseName, ViewName, ViewPurpose);

    /* SECTION 8 - STG VIEWS */
    SELECT *
    FROM
    (
        VALUES
        ('STG_FamilyLiving', 'dbo.vw_FamilyIncomeValidation', 'Validates staged paycheck/income data')
    ) AS V(DatabaseName, ViewName, ViewPurpose);

    /* SECTION 9 - BUSINESS RULES */
    SELECT *
    FROM
    (
        VALUES
        ('Expense Grain', 'fact.FactExpense contains one row per source bank transaction'),
        ('Income Grain', 'fact.FactIncome contains one row per paycheck'),
        ('Expense Amount Rule', 'ExpenseAmount is calculated in DW using Debit - ABS(Credit)'),
        ('Category Rule', 'Bank category is replaced by lookup category from STG_Description_LookUp'),
        ('Load Date Rule', 'Monthly reporting close/load date is the 3rd day of the next month'),
        ('Refund Rule', 'Credits/refunds are allowed as negative reductions in expense'),
        ('Income Validation Rule', 'Gross payment should reconcile to net payment plus taxes and deductions'),
        ('Employee Rule', 'Valid employees include Behailu Tessema and Mignote Tumoro'),
        ('Employer Rule', 'Valid workplaces include Casa Coloma, Windsor El Camino, and CITIGUARD INC')
    ) AS B(RuleName, RuleDescription);

    /* SECTION 10 - ETL LOAD ORDER */
    SELECT *
    FROM
    (
        VALUES
        (1, 'Load or prepare staging tables in STG_FamilyLiving'),
        (2, 'Clean/standardize staging lookup data if needed'),
        (3, 'Load dim.DimDate'),
        (4, 'Load dim.DimBank'),
        (5, 'Load dim.DimDescription'),
        (6, 'Load dim.DimIncomeSource'),
        (7, 'Load fact.FactExpense'),
        (8, 'Load fact.FactIncome'),
        (9, 'Run audit views'),
        (10, 'Run reconciliation views'),
        (11, 'Refresh Power BI model')
    ) AS O(StepNumber, LoadStep);

    /* SECTION 11 - SOURCE TO TARGET MAPPING */
    SELECT *
    FROM
    (
        VALUES
        ('STG_FamilyLiving.dbo.STG_FamilySourceData', 'DW_FamilyFinance.fact.FactExpense', 'Expense transactions'),
        ('STG_FamilyLiving.dbo.Family_Income', 'DW_FamilyFinance.fact.FactIncome', 'Payroll/income records'),
        ('STG_FamilyLiving.dbo.STG_Description_LookUp', 'DW_FamilyFinance.dim.DimDescription', 'Expense description/category mapping'),
        ('STG_FamilyLiving.dbo.STG_FamilySourceData.SourceName', 'DW_FamilyFinance.dim.DimBank', 'Bank/source mapping'),
        ('STG_FamilyLiving.dbo.Family_Income.Work_Place', 'DW_FamilyFinance.dim.DimIncomeSource', 'Employer/source mapping')
    ) AS M(SourceObject, TargetObject, MappingPurpose);

    /* SECTION 12 - DATA QUALITY CONTROLS */
    SELECT *
    FROM
    (
        VALUES
        ('Duplicate Check', 'Check duplicate source transaction or paycheck records before loading facts'),
        ('Missing Dimension Check', 'Validate fact records have matching dimension keys'),
        ('Record Count Reconciliation', 'Compare source counts to DW fact counts'),
        ('Expense Reconciliation', 'Compare staged expenses to fact.FactExpense'),
        ('Income Reconciliation', 'Compare staged income to fact.FactIncome'),
        ('Income Payment Validation', 'Validate gross, taxes, deductions, and net payment relationship'),
        ('Lookup Standardization', 'Use uppercase/standardized lookup values where needed')
    ) AS Q(ControlName, ControlDescription);

    /* SECTION 13 - NAMING STANDARDS */
    SELECT *
    FROM
    (
        VALUES
        ('dim', 'Schema for dimension tables'),
        ('fact', 'Schema for fact tables'),
        ('etl', 'Schema for ETL stored procedures'),
        ('rpt', 'Schema for reporting views'),
        ('usp_', 'Prefix for stored procedures'),
        ('vw_', 'Prefix for views'),
        ('Dim', 'Prefix for dimension tables'),
        ('Fact', 'Prefix for fact tables')
    ) AS N(StandardName, StandardDescription);

    /* SECTION 14 - POWER BI REPORTING LAYER */
    SELECT *
    FROM
    (
        VALUES
        ('Power BI should connect mainly to rpt schema views'),
        ('Use rpt.vw_ExpenseDetail for expense detail reporting'),
        ('Use rpt.vw_IncomeDetail for income detail reporting'),
        ('Use rpt.vw_MonthlyFinancialSummary for monthly KPI reporting'),
        ('Use rpt.vw_MonthlySavingsSummary for savings trend reporting'),
        ('Use audit and reconciliation views for data quality validation')
    ) AS P(PowerBIRule);

    /* SECTION 15 - GIT REPOSITORY STRUCTURE */
    SELECT *
    FROM
    (
        VALUES
        ('Database\00_Documentation', 'Project documentation procedures'),
        ('Database\01_Database', 'Database creation scripts'),
        ('Database\02_Schemas', 'Schema creation scripts'),
        ('Database\03_Dimensions', 'Dimension table scripts'),
        ('Database\04_Facts', 'Fact table scripts'),
        ('Database\05_StoredProcedures', 'ETL stored procedure scripts'),
        ('Database\06_Views', 'Reporting view scripts'),
        ('Database\07_TestScripts', 'Validation and reconciliation scripts'),
        ('SSIS', 'Visual Studio SSIS solution and packages'),
        ('PowerBI', 'Power BI report files'),
        ('Documentation', 'External documentation files'),
        ('SourceFiles', 'Source files used for ETL testing or archive')
    ) AS G(FolderPath, FolderPurpose);

    /* SECTION 16 - DEPLOYMENT CHECKLIST */
    SELECT *
    FROM
    (
        VALUES
        (1, 'Create or verify STG_FamilyLiving database'),
        (2, 'Create or verify DW_FamilyFinance database'),
        (3, 'Create DW schemas: dim, fact, etl, rpt'),
        (4, 'Create dimension tables'),
        (5, 'Create fact tables'),
        (6, 'Create ETL stored procedures'),
        (7, 'Create reporting views'),
        (8, 'Load staging data'),
        (9, 'Execute etl.usp_Load_DW_FamilyFinance'),
        (10, 'Validate record counts'),
        (11, 'Validate income and expense reconciliation'),
        (12, 'Connect or refresh Power BI report')
    ) AS C(StepNumber, ChecklistItem);

    /* SECTION 17 - FUTURE ENHANCEMENTS */
    SELECT *
    FROM
    (
        VALUES
        ('Automated SSIS deployment'),
        ('GitHub Actions or Azure DevOps CI/CD'),
        ('Power BI Service deployment and scheduled refresh'),
        ('Incremental fact loading'),
        ('Slowly Changing Dimensions if needed'),
        ('Data quality dashboard'),
        ('Automated file load audit process'),
        ('Additional Power BI AI insights')
    ) AS F(FutureEnhancement);

END;
