USE [master]
GO
/****** Object:  StoredProcedure [dbo].[usp_Create_DW_FamilyFinance]    Script Date: 6/4/2026 08:01:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***************************************************************************************************
Procedure Name : dbo.usp_Create_DW_FamilyFinance
Author         : Behailu Tessema
Created Date   : 06/04/2026
Database       : master
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Creates the DW_FamilyFinance database if it does not already exist.
    This procedure serves as the initial setup step for the DW_FamilyFinance
    Data Warehouse project.

Business Rules:
    1. Verify whether the DW_FamilyFinance database already exists.
    2. Create the database when it is not found.
    3. Return a status message indicating whether the database was created
       or already existed.

Parameters:
    None

Returns:
    Status        - Database creation result.
    DatabaseName  - Name of the target database.

Example:
    EXEC dbo.usp_Create_DW_FamilyFinance;

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial version.
------------------------------------------------------------------------------------------------***/
ALTER PROCEDURE [dbo].[usp_Create_DW_FamilyFinance]
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM sys.databases
        WHERE name = 'DW_FamilyFinance'
    )
    BEGIN
        CREATE DATABASE DW_FamilyFinance;

        SELECT
            'Database Created Successfully' AS Status,
            'DW_FamilyFinance' AS DatabaseName;
    END
    ELSE
    BEGIN
        SELECT
            'Database Already Exists' AS Status,
            'DW_FamilyFinance' AS DatabaseName;
    END;
END;
