USE [master]
GO
/****** Object:  StoredProcedure [dbo].[usp_DW_FamilyFinance_BlockDocumentation]    Script Date: 6/5/2026 12:05:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[usp_DW_FamilyFinance_BlockDocumentation]
AS
/*
===============================================================================
Project : DW_FamilyFinance
Author  : Behailu Tessema
Created : 2026-06-01
Modified: 2026-06-01
Status  : Block Version 1.0 Complete

Purpose:
    Master documentation for the DW_FamilyFinance data warehouse project.

    This procedure documents:
        - Project purpose
        - Source systems
        - Business rules
        - Architecture decisions
        - Deployment blocks
        - Object inventory
        - Validation results
        - Power BI design
        - Future enhancement ideas

Database:
    DW_FamilyFinance

Source Database:
    STG_FamilyLiving

Source Tables:
    STG_FamilyLiving.dbo.STG_FamilySourceData
    STG_FamilyLiving.dbo.Family_Income
    STG_FamilyLiving.dbo.STG_Description_LookUp

Business Goal:
    Analyze family income, expenses, savings, and financial trends
    from 2020 to present using SQL Server and Power BI.

===============================================================================
SCHEMA STANDARDS
===============================================================================

dim:
    Dimension tables.

fact:
    Fact tables.

etl:
    ETL stored procedures.

rpt:
    Validation, reconciliation, audit, and SQL review views.

===============================================================================
DEPLOYMENT BLOCKS
===============================================================================

BLOCK 01 - Database Creation Procedure
    master.dbo.usp_Create_DW_FamilyFinance

BLOCK 02 - Schema Creation
    dim
    fact
    etl
    rpt

BLOCK 03 - Dimension Table
    dim.DimDate

BLOCK 04 - ETL Procedure
    etl.usp_Load_DimDate

BLOCK 05 - Dimension Table
    dim.DimBank

BLOCK 06 - ETL Procedure
    etl.usp_Load_DimBank

BLOCK 07 - Dimension Table
    dim.DimDescription

BLOCK 08 - ETL Procedure
    etl.usp_Load_DimDescription

BLOCK 09 - Dimension Table
    dim.DimIncomeSource

BLOCK 10 - ETL Procedure
    etl.usp_Load_DimIncomeSource

BLOCK 11 - Fact Table
    fact.FactExpense

BLOCK 12 - ETL Procedure
    etl.usp_Load_FactExpense

BLOCK 13 - Fact Table
    fact.FactIncome

BLOCK 14 - ETL Procedure
    etl.usp_Load_FactIncome

BLOCK 15 - Master ETL Procedure
    etl.usp_Load_DW_FamilyFinance

BLOCK 16 - Validation View
    rpt.vw_ExpenseDetail

BLOCK 17 - Validation View
    rpt.vw_IncomeDetail

BLOCK 18 - Reconciliation Views
    rpt.vw_ExpenseReconciliation
    rpt.vw_IncomeReconciliation

BLOCK 19 - Audit Views
    rpt.vw_ExpenseAudit
    rpt.vw_IncomeAudit

BLOCK 20 - Monthly Summary View
    rpt.vw_MonthlyFinancialSummary

BLOCK 21 - Standard Validation Queries
    Source vs Fact Row Count Validation
    Foreign Key Validation
    Audit Validation
    Monthly Summary Validation

===============================================================================
OBJECT INVENTORY
===============================================================================

Master Database Procedures:
    master.dbo.usp_Create_DW_FamilyFinance
    master.dbo.usp_DW_FamilyFinance_BlockDocumentation

Database:
    DW_FamilyFinance

Schemas:
    dim
    fact
    etl
    rpt

Dimension Tables:
    dim.DimDate
    dim.DimBank
    dim.DimDescription
    dim.DimIncomeSource

Fact Tables:
    fact.FactExpense
    fact.FactIncome

ETL Procedures:
    etl.usp_Load_DimDate
    etl.usp_Load_DimBank
    etl.usp_Load_DimDescription
    etl.usp_Load_DimIncomeSource
    etl.usp_Load_FactExpense
    etl.usp_Load_FactIncome
    etl.usp_Load_DW_FamilyFinance

Views:
    rpt.vw_ExpenseDetail
    rpt.vw_IncomeDetail
    rpt.vw_ExpenseReconciliation
    rpt.vw_IncomeReconciliation
    rpt.vw_ExpenseAudit
    rpt.vw_IncomeAudit
    rpt.vw_MonthlyFinancialSummary

===============================================================================
BUSINESS RULES
===============================================================================

Expense Business Rules:

    Source Table:
        STG_FamilyLiving.dbo.STG_FamilySourceData

    Grain:
        One row in fact.FactExpense represents one financial transaction.

    Transaction Date:
        Source column [Date].

    Unique Source Row:
        ExpenseSourceID.

    TransactionID:
        Optional descriptive/helper field only.
        Not used as the unique transaction key.

    ExpenseAmount:
        ISNULL(Debit, 0.00) - ABS(ISNULL(Credit, 0.00))

    LoadDate:
        ETL audit column only.
        Not used for business reporting.

    Bank Category:
        Source column [Category] from the bank is ignored.
        Final category comes from dim.DimDescription.

Income Business Rules:

    Source Table:
        STG_FamilyLiving.dbo.Family_Income

    Grain:
        One row in fact.FactIncome represents one paycheck issued
        to one employee from one workplace.

    Income Source Grain:
        One row in dim.DimIncomeSource represents one employee
        at one workplace.

    Important Dates:
        Period_Bginning
        Period_Ending
        Pay_Day

===============================================================================
NAMING STANDARDS
===============================================================================

Dimension Tables:
    Dim*

Fact Tables:
    Fact*

ETL Procedures:
    etl.usp_Load_*

Reporting / Validation Views:
    rpt.vw_*

Surrogate Key Standards:
    All dimensions use integer surrogate keys.

Examples:
    DateKey
    BankKey
    DescriptionKey
    IncomeSourceKey

Audit Column Standards:
    CreatedDate
    ModifiedDate
    SourceSystem

===============================================================================
ARCHITECTURE DECISIONS
===============================================================================

2026-05-31:
    Database name selected as DW_FamilyFinance instead of DW_FamilyLiving
    to support future expansion beyond income and expense reporting.

2026-05-31:
    Schemas dim, fact, etl, and rpt created using enterprise data warehouse
    organization standards.

2026-05-31:
    Expense fact grain defined as one row per financial transaction.

2026-05-31:
    Income fact grain defined as one row per paycheck issued to one employee
    from one workplace.

2026-05-31:
    LoadDate in STG_FamilySourceData is treated as an ETL audit date,
    not as a business reporting date.

2026-05-31:
    DimDate load procedure uses configurable StartDate and EndDate parameters
    to support easy rebuild and future extension.

2026-05-31:
    Junk dimension considered but not created.
    Current attributes are limited and better stored directly in fact tables.

2026-05-31:
    DimCategory, DimSubCategory, and DimExpenseType were not created
    as separate dimensions.
    Category, SubCategory, and ExpenseType are stored inside dim.DimDescription.

2026-06-01:
    FactExpense uses one finalized ExpenseAmount column.
    Refund/credit impact is handled inside the data warehouse,
    allowing Power BI to use a simple SUM measure.

2026-06-01:
    Power BI will use fact and dimension tables directly
    using an enterprise star schema model.

2026-06-01:
    Reporting views are retained for validation, reconciliation,
    auditing, and SQL review only.

===============================================================================
VALIDATION RESULTS
===============================================================================

Expense Reconciliation:
    Source rows = Fact rows.
    Row difference = 0.
    Status = PASS.

Income Reconciliation:
    Source rows = Fact rows.
    Row difference = 0.
    Status = PASS.

Expense Audit:
    No unmatched bank records.
    No unmatched description records.
    Status = PASS.

Income Audit:
    No unmatched income source records.
    Status = PASS.

Foreign Key Validation:
    All fact table foreign keys validated.
    Status = PASS.

===============================================================================
POWER BI DESIGN
===============================================================================

Power BI Model Type:
    Enterprise Star Schema.

Power BI Tables:
    fact.FactExpense
    fact.FactIncome
    dim.DimDate
    dim.DimBank
    dim.DimDescription
    dim.DimIncomeSource

Recommended Power BI Measures:

    Total Expense:
        SUM(FactExpense[ExpenseAmount])

    Total Net Income:
        SUM(FactIncome[EmployerNetPay])

    Gross Income:
        SUM(FactIncome[GrossPayment])

    Total Tax:
        SUM(FactIncome[TotalTax])

    Net Savings:
        [Total Net Income] - [Total Expense]

===============================================================================
FUTURE ENHANCEMENT IDEAS
===============================================================================

Future Facts:
    fact.FactSavings
    fact.FactAsset
    fact.FactDebt
    fact.FactInvestment

Future Dimensions:
    dim.DimAccount
    dim.DimAsset
    dim.DimDebtType
    dim.DimInvestmentAccount

===============================================================================
VERSION HISTORY
===============================================================================

Version 1.0:
    Completed database design, schemas, dimensions, facts, ETL procedures,
    validation views, audit views, reconciliation views, monthly summary view,
    and enterprise Power BI readiness.

===============================================================================
*/
BEGIN
    SET NOCOUNT ON;

    SELECT
        'DW_FamilyFinance' AS ProjectName,
        'Block Version 1.0 Complete' AS ProjectStatus,
        'Behailu Tessema' AS Author,
        CAST('2026-06-01' AS DATE) AS LastUpdated;
END;
