USE [DW_FamilyFinance]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/***************************************************************************************************
Procedure Name : etl.usp_Load_FactIncome
Author         : Behailu Tessema
Created Date   : 06/04/2026
Database       : DW_FamilyFinance
Schema         : etl
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Loads payroll and income transactions from staging into fact.FactIncome.
    This procedure resolves income source and date dimension keys, loads
    payroll measures, and prevents duplicate fact records by using
    SourceIncomeID as the unique source row identifier.

Load Type:
    Incremental insert only.

Source Table:
    - STG_FamilyLiving.dbo.Family_Income

Target Table:
    - DW_FamilyFinance.fact.FactIncome

Grain:
    One row represents one paycheck source row.

Business Rules:
    1. SourceIncomeID is the unique source row identifier from Family_Income.
    2. Existing SourceIncomeID values are not inserted again.
    3. IncomeSourceKey is resolved from dim.DimIncomeSource using
       WorkPlace + EmployeeFullName.
    4. PeriodBeginningDateKey is generated from Period_Bginning in YYYYMMDD format.
    5. PeriodEndingDateKey is generated from Period_Ending in YYYYMMDD format.
    6. PayDateKey is generated from Pay_Day in YYYYMMDD format.
    7. Payroll tax and payment values are converted to 0.00 when NULL.
    8. PaymentValidation is converted to 0 when NULL.
    9. SourceSystem stores the originating staging table name.

Dimension Dependencies:
    - dim.DimIncomeSource
    - dim.DimDate

Required Load Order:
    1. etl.usp_Load_DimDate
    2. etl.usp_Load_DimIncomeSource
    3. etl.usp_Load_FactIncome

Duplicate Protection:
    Existing SourceIncomeID values are not inserted again.

Used By:
    - etl.usp_Load_DW_FamilyFinance
    - rpt.vw_IncomeDetail
    - rpt.vw_MonthlyFinancialSummary
    - Power BI Semantic Model
    - Income and Payroll Tax Analysis Reports

Example:
    EXEC etl.usp_Load_FactIncome;

Future Recommendation:
    Add update logic later if corrected payroll values are received from
    ADP, UKG, or another payroll source after the original paycheck row
    has already been loaded.

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Modified to use SourceIncomeID as the business key.
------------------------------------------------------------------------------------------------***/
ALTER PROCEDURE [etl].[usp_Load_FactIncome]
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO fact.FactIncome
    (
        SourceIncomeID,
        IncomeSourceKey,
        PeriodBeginningDateKey,
        PeriodEndingDateKey,
        PayDateKey,
        GrossPayment,
        FederalTax,
        SSTax,
        MedicareTax,
        CAStateTax,
        CASDITax,
        EmployerNetPay,
        TotalTax,
        PaymentValidation,
        SourceSystem
    )
    SELECT
        s.IncomeSourceID AS SourceIncomeID,
        src.IncomeSourceKey,
        CONVERT(INT, CONVERT(CHAR(8), s.Period_Bginning, 112)) AS PeriodBeginningDateKey,
        CONVERT(INT, CONVERT(CHAR(8), s.Period_Ending, 112)) AS PeriodEndingDateKey,
        CONVERT(INT, CONVERT(CHAR(8), s.Pay_Day, 112)) AS PayDateKey,
        ISNULL(s.Gross_Payment, 0.00) AS GrossPayment,
        ISNULL(s.Federal_Tax, 0.00) AS FederalTax,
        ISNULL(s.SS_Tax, 0.00) AS SSTax,
        ISNULL(s.Medical_Tax, 0.00) AS MedicareTax,
        ISNULL(s.CA_State_Tax, 0.00) AS CAStateTax,
        ISNULL(s.CA_SDI_Tax, 0.00) AS CASDITax,
        ISNULL(s.Employer_NetPay, 0.00) AS EmployerNetPay,
        ISNULL(s.Total_Tax, 0.00) AS TotalTax,
        ISNULL(s.Payment_Validation, 0) AS PaymentValidation,
        'STG_FamilyLiving.dbo.Family_Income' AS SourceSystem
    FROM STG_FamilyLiving.dbo.Family_Income s
    INNER JOIN dim.DimIncomeSource src
        ON src.WorkPlace = LTRIM(RTRIM(s.Work_Place))
       AND src.EmployeeFullName = LTRIM(RTRIM(s.Employee_FullName))
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM fact.FactIncome f
        WHERE f.SourceIncomeID = s.IncomeSourceID
    );
END;
GO