USE [DW_FamilyFinance];


GO
SET ANSI_NULLS ON;


GO
SET QUOTED_IDENTIFIER ON;


GO
/***************************************************************************************************
Procedure Name : etl.usp_Load_DimBank
Author         : Behailu Tessema
Created Date   : 06/04/2026
Database       : DW_FamilyFinance
Schema         : etl
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Loads unique bank and financial source names into dim.DimBank from the
    expense staging table.

Load Type:
    Incremental insert only.

Source Table:
    - STG_FamilyLiving.dbo.STG_FamilySourceData

Target Table:
    - DW_FamilyFinance.dim.DimBank

Business Rules:
    1. One row in dim.DimBank represents one unique SourceName from staging.
    2. SourceName values are trimmed before insert.
    3. NULL and blank SourceName values are excluded.
    4. Existing BankName values are not inserted again.
    5. SourceSystem stores the originating staging table name.

Used By:
    - etl.usp_Load_DW_FamilyFinance
    - fact.FactExpense
    - rpt.vw_ExpenseDetail
    - Power BI Semantic Model

Example:
    EXEC etl.usp_Load_DimBank;

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial version.
------------------------------------------------------------------------------------------------***/
CREATE OR ALTER PROCEDURE [etl].[usp_Load_DimBank]
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dim.DimBank (BankName, SourceSystem)
    SELECT DISTINCT LTRIM(RTRIM(s.SourceName)) AS BankName,
                    'STG_FamilyLiving.dbo.STG_FamilySourceData' AS SourceSystem
    FROM   STG_FamilyLiving.dbo.STG_FamilySourceData AS s
    WHERE  s.SourceName IS NOT NULL
           AND LTRIM(RTRIM(s.SourceName)) <> ''
           AND NOT EXISTS (SELECT 1
                           FROM   dim.DimBank AS b
                           WHERE  b.BankName = LTRIM(RTRIM(s.SourceName)));
END