USE [DW_FamilyFinance];


GO
SET ANSI_NULLS ON;


GO
SET QUOTED_IDENTIFIER ON;


GO
/***************************************************************************************************
Procedure Name : etl.usp_Load_DimDate
Author         : Behailu Tessema
Created Date   : 06/04/2026
Database       : DW_FamilyFinance
Schema         : etl
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Populates and maintains the master calendar dimension table dim.DimDate.
    This dimension supports date-based reporting, filtering, grouping, and
    Power BI time intelligence across the warehouse.

Parameters:
    @StartDate
        Beginning date for DimDate generation.
        Default: 2020-01-01

    @EndDate
        Ending date for DimDate generation.
        Default: 2040-12-31

    @FullReload
        0 = Incremental load only.
        1 = Delete and reload DimDate, only when related fact tables are empty.

Load Type:
    Incremental by default.

Source:
    Generated internally from @StartDate through @EndDate.

Target Table:
    - DW_FamilyFinance.dim.DimDate

Business Rules:
    1. DateKey is generated in YYYYMMDD integer format.
    2. YearMonthNumber is generated in YYYYMM integer format.
    3. One row represents one calendar date.
    4. Existing dates are not inserted again.
    5. Saturday and Sunday are flagged as weekend dates.
    6. Full reload is blocked when fact tables contain data.
    7. @StartDate cannot be greater than @EndDate.

Full Reload Protection:
    Full reload is not allowed when either of the following tables contains rows:
        - fact.FactExpense
        - fact.FactIncome

Foreign Key Dependency:
    fact.FactExpense.TransactionDateKey -> dim.DimDate.DateKey
    fact.FactIncome.PeriodBeginningDateKey -> dim.DimDate.DateKey
    fact.FactIncome.PeriodEndingDateKey    -> dim.DimDate.DateKey
    fact.FactIncome.PayDateKey             -> dim.DimDate.DateKey

Error Handling:
    THROW 50001:
        Raised when @StartDate is greater than @EndDate.

    THROW 50002:
        Raised when @FullReload = 1 and fact tables contain rows.

Used By:
    - fact.FactExpense
    - fact.FactIncome
    - rpt.vw_ExpenseDetail
    - rpt.vw_IncomeDetail
    - rpt.vw_MonthlyFinancialSummary
    - Power BI Semantic Model

Example:
    EXEC etl.usp_Load_DimDate;

    EXEC etl.usp_Load_DimDate
        @StartDate = '2020-01-01',
        @EndDate = '2040-12-31',
        @FullReload = 0;

Notes:
    DimDate should remain broad enough to support historical and future
    reporting periods. Report year filtering should be handled in Power BI
    rather than by reducing DimDate coverage.

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial version.
------------------------------------------------------------------------------------------------***/
CREATE OR ALTER PROCEDURE [etl].[usp_Load_DimDate]
    @StartDate DATE = '2020-01-01',
    @EndDate DATE = '2040-12-31',
    @FullReload BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    IF @StartDate > @EndDate
    BEGIN
        THROW 50001, '@StartDate cannot be greater than @EndDate.', 1;
    END;

    IF @FullReload = 1
    BEGIN
        IF EXISTS (SELECT 1 FROM fact.FactExpense)
           OR EXISTS (SELECT 1 FROM fact.FactIncome)
        BEGIN
            THROW 50002, 'DimDate full reload is not allowed while FactExpense or FactIncome contain rows.', 1;
        END;

        DELETE FROM dim.DimDate;
    END;

    ;WITH DateList AS
    (
        SELECT @StartDate AS FullDate

        UNION ALL

        SELECT DATEADD(DAY, 1, FullDate)
        FROM DateList
        WHERE FullDate < @EndDate
    )
    INSERT INTO dim.DimDate
    (
        DateKey,
        FullDate,
        [Year],
        QuarterNumber,
        MonthNumber,
        MonthName,
        MonthShortName,
        YearMonthNumber,
        YearMonthName,
        DayOfMonth,
        DayOfWeekNumber,
        DayOfWeekName,
        WeekOfYear,
        IsWeekend
    )
    SELECT
        CONVERT(INT, CONVERT(CHAR(8), FullDate, 112)) AS DateKey,
        FullDate,
        YEAR(FullDate) AS [Year],
        DATEPART(QUARTER, FullDate) AS QuarterNumber,
        MONTH(FullDate) AS MonthNumber,
        DATENAME(MONTH, FullDate) AS MonthName,
        LEFT(DATENAME(MONTH, FullDate), 3) AS MonthShortName,
        CONVERT(INT, CONVERT(CHAR(6), FullDate, 112)) AS YearMonthNumber,
        CONCAT(YEAR(FullDate), '-', LEFT(DATENAME(MONTH, FullDate), 3)) AS YearMonthName,
        DAY(FullDate) AS DayOfMonth,
        DATEPART(WEEKDAY, FullDate) AS DayOfWeekNumber,
        DATENAME(WEEKDAY, FullDate) AS DayOfWeekName,
        DATEPART(WEEK, FullDate) AS WeekOfYear,
        CASE 
            WHEN DATENAME(WEEKDAY, FullDate) IN ('Saturday', 'Sunday') THEN 1 
            ELSE 0 
        END AS IsWeekend
    FROM DateList AS d
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM dim.DimDate AS x
        WHERE x.FullDate = d.FullDate
    )
    OPTION (MAXRECURSION 0);
END;