USE [DW_FamilyFinance];


GO
SET ANSI_NULLS ON;


GO
SET QUOTED_IDENTIFIER ON;


GO
/***************************************************************************************************
Procedure Name : etl.usp_Load_FactExpense
Author         : Behailu Tessema
Created Date   : 06/04/2026
Database       : DW_FamilyFinance
Schema         : etl
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Loads expense transactions from staging into fact.FactExpense. This
    procedure resolves dimension keys for transaction date, bank, and
    description, calculates the finalized expense amount, and prevents
    duplicate fact records.

Load Type:
    Incremental insert only.

Source Table:
    - STG_FamilyLiving.dbo.STG_FamilySourceData

Target Table:
    - DW_FamilyFinance.fact.FactExpense

Grain:
    One row represents one source expense transaction.

Business Rules:
    1. SourceExpenseID is the unique source transaction identifier.
    2. Existing SourceExpenseID values are not inserted again.
    3. TransactionDateKey is generated from source [Date] in YYYYMMDD format.
    4. BankKey is resolved from dim.DimBank using SourceName.
    5. DescriptionKey is resolved from dim.DimDescription using source Description.
    6. ExpenseAmount is calculated as Debit minus absolute Credit.
    7. LoadDate is retained for ETL audit and reporting-period traceability.
    8. TransactionID is optional and used only for tracing or analysis.
    9. SourceSystem stores the originating staging table name.

Expense Calculation:
    ExpenseAmount = ISNULL(Debit, 0.00) - ABS(ISNULL(Credit, 0.00))

Dimension Dependencies:
    - dim.DimDate
    - dim.DimBank
    - dim.DimDescription

Required Load Order:
    1. etl.usp_Load_DimDate
    2. etl.usp_Load_DimBank
    3. etl.usp_Load_DimDescription
    4. etl.usp_Load_FactExpense

Used By:
    - etl.usp_Load_DW_FamilyFinance
    - rpt.vw_ExpenseDetail
    - rpt.vw_MonthlyFinancialSummary
    - rpt.vw_ExpenseRecordCountByYearBank
    - Power BI Semantic Model

Example:
    EXEC etl.usp_Load_FactExpense;

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial version.
------------------------------------------------------------------------------------------------***/
CREATE OR ALTER PROCEDURE [etl].[usp_Load_FactExpense]
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO fact.FactExpense (SourceExpenseID, TransactionID, TransactionDateKey, BankKey, DescriptionKey, ExpenseAmount, LoadDate, SourceSystem)
    SELECT s.ExpenseSourceID,
           s.Transaction_ID AS TransactionID,
           CONVERT (INT, CONVERT (CHAR (8), s.[Date], 112)) AS TransactionDateKey,
           b.BankKey,
           d.DescriptionKey,
           ISNULL(s.Debit, 0.00) - ABS(ISNULL(s.Credit, 0.00)) AS ExpenseAmount,
           s.LoadDate,
           'STG_FamilyLiving.dbo.STG_FamilySourceData' AS SourceSystem
    FROM   STG_FamilyLiving.dbo.STG_FamilySourceData AS s
           INNER JOIN
           dim.DimBank AS b
           ON b.BankName = LTRIM(RTRIM(s.SourceName))
           INNER JOIN
           dim.DimDescription AS d
           ON d.DescriptionName = LTRIM(RTRIM(s.[Description]))
    WHERE  NOT EXISTS (SELECT 1
                       FROM   fact.FactExpense AS f
                       WHERE  f.SourceExpenseID = s.ExpenseSourceID);
END