USE [DW_FamilyFinance];
GO

SET ANSI_NULLS ON;
GO

SET QUOTED_IDENTIFIER ON;
GO

/***************************************************************************************************
Procedure Name : etl.usp_Load_DimDate
Author         : Behailu Tessema
Created Date   : 06/04/2026
Modified Date  : 09/04/2026
Database       : DW_FamilyFinance
Schema         : etl
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Populates and maintains the master calendar dimension table dim.DimDate.

    The date dimension supports:
        - Expense transaction dates
        - Income period beginning dates
        - Income period ending dates
        - Income payment dates
        - Date-based reporting
        - Monthly and yearly reporting
        - Power BI time-intelligence calculations

Parameters:
    @StartDate
        Beginning date for DimDate generation.
        Default: 2024-01-01

    @EndDate
        Ending date for DimDate generation.

        When @EndDate is NULL, the procedure uses the current SQL Server
        date returned by GETDATE().

        Default: Current SQL Server date

    @FullReload
        Controls the DimDate load method.

        0 = Incremental load
            Inserts only dates that do not already exist.

        1 = Full reload
            Deletes and rebuilds DimDate.

            A full reload is allowed only when fact.FactExpense and
            fact.FactIncome are empty.

Load Type:
    Incremental by default.

Source:
    Calendar dates generated internally from @StartDate through @EndDate.

Target Table:
    DW_FamilyFinance.dim.DimDate

Dimension Grain:
    One row represents one calendar date.

Business Rules:
    1. The default beginning date is 2024-01-01.
    2. The default ending date is the current SQL Server date.
    3. DateKey is generated in YYYYMMDD integer format.
    4. YearMonthNumber is generated in YYYYMM integer format.
    5. Existing calendar dates are not inserted again.
    6. Sunday is assigned DayOfWeekNumber 1.
    7. Saturday is assigned DayOfWeekNumber 7.
    8. Saturday and Sunday are identified as weekend dates.
    9. English month and weekday names are used.
   10. @StartDate cannot be greater than @EndDate.
   11. A full reload is blocked when either fact table contains data.
   12. All delete and insert operations are protected by a transaction.

Full Reload Protection:
    A full reload is not allowed when either table contains records:
        - fact.FactExpense
        - fact.FactIncome

Foreign Key Dependencies:
    fact.FactExpense.TransactionDateKey
        -> dim.DimDate.DateKey

    fact.FactIncome.PeriodBeginningDateKey
        -> dim.DimDate.DateKey

    fact.FactIncome.PeriodEndingDateKey
        -> dim.DimDate.DateKey

    fact.FactIncome.PayDateKey
        -> dim.DimDate.DateKey

Error Handling:
    Error 50001:
        Raised when @StartDate is NULL.

    Error 50002:
        Raised when @StartDate is greater than @EndDate.

    Error 50003:
        Raised when a full reload is requested while FactExpense or
        FactIncome contains records.

    Other SQL Server Errors:
        The transaction is rolled back and the original SQL Server error
        is returned to the calling process.

Used By:
    - fact.FactExpense
    - fact.FactIncome
    - rpt.vw_ExpenseDetail
    - rpt.vw_IncomeDetail
    - rpt.vw_MonthlyFinancialSummary
    - Power BI Semantic Model

Execution Examples:

    -- Incrementally loads dates from 2024-01-01 through today.
    EXEC etl.usp_Load_DimDate;

    -- Incrementally loads dates using a manually selected date range.
    EXEC etl.usp_Load_DimDate
        @StartDate  = '2024-01-01',
        @EndDate    = '2026-12-31',
        @FullReload = 0;

    -- Fully rebuilds DimDate only when both fact tables are empty.
    EXEC etl.usp_Load_DimDate
        @StartDate  = '2024-01-01',
        @EndDate    = NULL,
        @FullReload = 1;

Notes:
    The procedure should run before FactExpense and FactIncome are loaded.

    Running the procedure regularly will automatically add missing calendar
    dates through the current SQL Server date.

Modification History:
---------------------------------------------------------------------------------------------------
Date         Author              Description
---------------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial version.
09/04/2026   Behailu Tessema     Changed the default beginning date to 2024-01-01,
                                 used the current date as the default ending date,
                                 added transaction protection, validation, and
                                 expanded Git documentation.
***************************************************************************************************/
CREATE OR ALTER PROCEDURE [etl].[usp_Load_DimDate]
    @StartDate  DATE = '2023-12-01',
    @EndDate    DATE = NULL,
    @FullReload BIT  = 0
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    /***********************************************************************************************
    Calendar Settings:
        Use English month and weekday names.

        Set Sunday as the first day of the week:
            Sunday   = 1
            Monday   = 2
            Tuesday  = 3
            Wednesday= 4
            Thursday = 5
            Friday   = 6
            Saturday = 7
    ***********************************************************************************************/
    SET LANGUAGE us_english;
    SET DATEFIRST 7;

    BEGIN TRY
        /*******************************************************************************************
        Step 1: Validate @StartDate.

        A beginning date is required to generate calendar records.
        *******************************************************************************************/
        IF @StartDate IS NULL
        BEGIN
            THROW 50001, '@StartDate cannot be NULL.', 1;
        END;

        /*******************************************************************************************
        Step 2: Set @EndDate.

        If the caller does not provide an ending date, use the current
        SQL Server date.

        CONVERT(DATE, GETDATE()) removes the time portion.
        *******************************************************************************************/
        SET @EndDate =
            COALESCE
            (
                @EndDate,
                CONVERT(DATE, GETDATE())
            );

        /*******************************************************************************************
        Step 3: Validate the requested date range.

        The beginning date cannot occur after the ending date.
        *******************************************************************************************/
        IF @StartDate > @EndDate
        BEGIN
            THROW 50002, '@StartDate cannot be greater than @EndDate.', 1;
        END;

        /*******************************************************************************************
        Step 4: Protect the fact-table foreign key relationships.

        DimDate cannot be completely deleted when FactExpense or FactIncome
        contains records.
        *******************************************************************************************/
        IF @FullReload = 1
           AND
           (
               EXISTS
               (
                   SELECT 1
                   FROM fact.FactExpense
               )
               OR
               EXISTS
               (
                   SELECT 1
                   FROM fact.FactIncome
               )
           )
        BEGIN
            THROW 50003,
                  'DimDate full reload is not allowed while FactExpense or FactIncome contains records.',
                  1;
        END;

        /*******************************************************************************************
        Step 5: Start the transaction.

        The delete and insert operations must succeed or fail together.
        *******************************************************************************************/
        BEGIN TRANSACTION;

        /*******************************************************************************************
        Step 6: Delete DimDate records when a full reload is requested.

        This statement runs only when @FullReload equals 1.
        *******************************************************************************************/
        IF @FullReload = 1
        BEGIN
            DELETE FROM dim.DimDate;
        END;

        /*******************************************************************************************
        Step 7: Generate the calendar dates.

        The recursive common table expression starts with @StartDate and
        adds one day at a time until it reaches @EndDate.
        *******************************************************************************************/
        ;WITH DateList AS
        (
            -- Generate the first date in the requested date range.
            SELECT @StartDate AS FullDate

            UNION ALL

            -- Continue adding one calendar day until @EndDate is reached.
            SELECT DATEADD(DAY, 1, FullDate)
            FROM DateList
            WHERE FullDate < @EndDate
        )

        /*******************************************************************************************
        Step 8: Insert missing calendar dates into dim.DimDate.

        The NOT EXISTS condition prevents duplicate dates during an
        incremental load.
        *******************************************************************************************/
        INSERT INTO dim.DimDate
        (
            DateKey,
            FullDate,
            [Year],
            QuarterNumber,
            MonthNumber,
            MonthName,
            MonthShortName,
            YearMonthNumber,
            YearMonthName,
            DayOfMonth,
            DayOfWeekNumber,
            DayOfWeekName,
            WeekOfYear,
            IsWeekend
        )
        SELECT
            /*
                Generate DateKey in YYYYMMDD integer format.

                Example:
                    2026-09-04 becomes 20260904.
            */
            CONVERT
            (
                INT,
                CONVERT
                (
                    CHAR(8),
                    generated_date.FullDate,
                    112
                )
            ) AS DateKey,

            -- Store the complete calendar date.
            generated_date.FullDate,

            -- Return the four-digit calendar year.
            YEAR(generated_date.FullDate) AS [Year],

            -- Return the calendar quarter from 1 through 4.
            DATEPART
            (
                QUARTER,
                generated_date.FullDate
            ) AS QuarterNumber,

            -- Return the calendar month number from 1 through 12.
            MONTH(generated_date.FullDate) AS MonthNumber,

            -- Return the complete English month name.
            DATENAME
            (
                MONTH,
                generated_date.FullDate
            ) AS MonthName,

            -- Return the three-character English month abbreviation.
            LEFT
            (
                DATENAME
                (
                    MONTH,
                    generated_date.FullDate
                ),
                3
            ) AS MonthShortName,

            /*
                Generate YearMonthNumber in YYYYMM integer format.

                Example:
                    2026-09-04 becomes 202609.
            */
            CONVERT
            (
                INT,
                CONVERT
                (
                    CHAR(6),
                    generated_date.FullDate,
                    112
                )
            ) AS YearMonthNumber,

            /*
                Generate a readable year and month value.

                Example:
                    2026-Sep
            */
            CONCAT
            (
                YEAR(generated_date.FullDate),
                '-',
                LEFT
                (
                    DATENAME
                    (
                        MONTH,
                        generated_date.FullDate
                    ),
                    3
                )
            ) AS YearMonthName,

            -- Return the calendar day within the month.
            DAY(generated_date.FullDate) AS DayOfMonth,

            /*
                Return the weekday number.

                Because DATEFIRST is set to 7:
                    Sunday   = 1
                    Saturday = 7
            */
            DATEPART
            (
                WEEKDAY,
                generated_date.FullDate
            ) AS DayOfWeekNumber,

            -- Return the complete English weekday name.
            DATENAME
            (
                WEEKDAY,
                generated_date.FullDate
            ) AS DayOfWeekName,

            -- Return the week number within the calendar year.
            DATEPART
            (
                WEEK,
                generated_date.FullDate
            ) AS WeekOfYear,

            /*
                Identify weekend dates.

                1 = Weekend
                0 = Weekday
            */
            CASE
                WHEN DATEPART
                     (
                         WEEKDAY,
                         generated_date.FullDate
                     ) IN (1, 7)
                THEN 1
                ELSE 0
            END AS IsWeekend

        FROM DateList AS generated_date

        /*
            Insert the generated date only when the same FullDate does not
            already exist in dim.DimDate.
        */
        WHERE NOT EXISTS
        (
            SELECT 1
            FROM dim.DimDate AS existing_date
            WHERE existing_date.FullDate = generated_date.FullDate
        )

        /*
            Remove SQL Server's default recursive CTE limit of 100 levels.

            This permits generation of every date from 2024-01-01 through
            the current date.
        */
        OPTION (MAXRECURSION 0);

        /*******************************************************************************************
        Step 9: Commit the transaction.

        All DimDate changes become permanent after the load succeeds.
        *******************************************************************************************/
        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        /*******************************************************************************************
        Step 10: Roll back the transaction when an error occurs.

        This prevents a partial or incomplete DimDate load.
        *******************************************************************************************/
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        /*
            Return the original SQL Server error information.
        */
        THROW;
    END CATCH;
END;
GO