USE [master]
GO
/****** Object:  StoredProcedure [dbo].[usp_Create_STG_FamilyLiving]    Script Date: 6/5/2026 02:37:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***************************************************************************************************
Procedure Name : dbo.usp_Create_STG_FamilyLiving
Author         : Behailu Tessema
Created Date   : 06/05/2026
Database       : master
Schema         : dbo
Project        : DW_FamilyFinance Data Platform

Purpose:
    Creates the STG_FamilyLiving database if it does not already exist.

Description:
    STG_FamilyLiving serves as the staging layer for the DW_FamilyFinance
    data platform. Source data is loaded into staging through SSIS before
    being transformed and loaded into the data warehouse.

Data Flow:
    Source Files
        ↓
    SSIS
        ↓
    STG_FamilyLiving
        ↓
    DW_FamilyFinance
        ↓
    Power BI

Business Rules:
    1. Database is created only if it does not already exist.
    2. Existing databases are not modified.
    3. STG_FamilyLiving acts as the landing zone for source data.
    4. Source validation occurs prior to warehouse loading.

Execution:
    EXEC dbo.usp_Create_STG_FamilyLiving;

Expected Result:
    - Database Created Successfully
    - Database Already Exists

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/05/2026   Behailu Tessema     Initial version.
------------------------------------------------------------------------------------------------***/
ALTER   PROCEDURE [dbo].[usp_Create_STG_FamilyLiving]
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM sys.databases
        WHERE name = 'STG_FamilyLiving'
    )
    BEGIN
        CREATE DATABASE STG_FamilyLiving;

        SELECT
            'Database Created Successfully' AS Status,
            'STG_FamilyLiving' AS DatabaseName;
    END
    ELSE
    BEGIN
        SELECT
            'Database Already Exists' AS Status,
            'STG_FamilyLiving' AS DatabaseName;
    END
END;
