USE [STG_FamilyLiving];


GO
SET ANSI_NULLS ON;


GO
SET QUOTED_IDENTIFIER ON;


GO
/***************************************************************************************************
Procedure Name : dbo.usp_IdentifyDuplicateLookupSubCategory
Author         : Behailu Tessema
Created Date   : 06/05/2026
Database       : STG_FamilyLiving
Schema         : dbo
Project        : DW_FamilyFinance Data Platform

Purpose:
    Identifies lookup subcategories that are mapped to more than one category
    or more than one expense type in dbo.STG_Description_LookUp.

Source Tables:
    - STG_FamilyLiving.dbo.STG_Description_LookUp

Business Rules:
    1. A LookUp_SubCategory should ideally map consistently to one category.
    2. A LookUp_SubCategory should ideally map consistently to one expense type.
    3. Subcategories mapped to multiple categories or expense types require review.
    4. No table is needed because this is a data-quality review procedure.

Used By:
    - Lookup maintenance
    - STG data quality review
    - Expense categorization cleanup
    - Pre-DW validation

Example:
    EXEC dbo.usp_IdentifyDuplicateLookupSubCategory;

Expected Result:
    Ideally returns no rows.

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/05/2026   Behailu Tessema     Initial staging lookup data-quality procedure.
***************************************************************************************************/
CREATE OR ALTER PROCEDURE dbo.usp_IdentifyDuplicateLookupSubCategory
AS
BEGIN
    SET NOCOUNT ON;
    SELECT   LookUp_SubCategory,
             COUNT(DISTINCT LookUp_Category) AS DistinctCategoryCount,
             COUNT(DISTINCT LookUp_ExpenseType) AS DistinctExpenseTypeCount
    FROM     dbo.STG_Description_LookUp
    WHERE    LookUp_SubCategory IS NOT NULL
             AND LTRIM(RTRIM(LookUp_SubCategory)) <> ''
    GROUP BY LookUp_SubCategory
    HAVING   COUNT(DISTINCT LookUp_Category) > 1
             OR COUNT(DISTINCT LookUp_ExpenseType) > 1
    ORDER BY LookUp_SubCategory;
END