USE master;
GO

SET ANSI_NULLS ON;
GO

SET QUOTED_IDENTIFIER ON;
GO

/*
===============================================================================
Object Name : dbo.usp_Project_DW_FamilyFinance_ETL_Operations
Database    : master
Author      : Behailu Tessema
Purpose     : Documents the standard ETL execution process for DW_FamilyFinance.
===============================================================================
*/

CREATE OR ALTER PROCEDURE dbo.usp_Project_DW_FamilyFinance_ETL_Operations
AS
BEGIN
    SET NOCOUNT ON;

    /*
    ===========================================================================
    MASTER ETL PROCEDURE

        DW_FamilyFinance.etl.usp_Load_DW_FamilyFinance

    Standard Execution:

        EXEC DW_FamilyFinance.etl.usp_Load_DW_FamilyFinance;

    ===========================================================================
    PROCESS FLOW

        Google Form
            ↓
        Excel File
            ↓
        SSIS Package
            ↓
        STG_FamilyLiving
            ↓
        DW_FamilyFinance.etl.usp_Load_DW_FamilyFinance
            ↓
        Power BI Refresh

    ===========================================================================
    ETL PROCESS SEQUENCE

    Step 1 - Load Dimensions
        etl.usp_Load_DimDate
        etl.usp_Load_DimBank
        etl.usp_Load_DimDescription
        etl.usp_Load_DimIncomeSource

    Step 2 - Load New Fact Records
        etl.usp_Load_FactExpense
        etl.usp_Load_FactIncome

    Step 3 - Update Existing Fact Records
        etl.usp_Update_FactExpense
        etl.usp_Update_FactIncome

    ===========================================================================
    */

    SELECT
        'DW_FamilyFinance ETL Operations Documentation' AS DocumentName,
        'DW_FamilyFinance' AS ProjectName,
        'STG_FamilyLiving' AS StagingDatabase,
        'DW_FamilyFinance.etl.usp_Load_DW_FamilyFinance' AS MasterETLProcedure,
        'Power BI Refresh' AS FinalStep,
        SYSDATETIME() AS DocumentDate;
END;
GO