USE [master]
GO
/****** Object:  StoredProcedure [dbo].[usp_Project_DW_FamilyFinance_Architecture]    Script Date: 6/5/2026 12:40:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_Project_DW_FamilyFinance_Architecture]
AS
/*
===============================================================================
Project : DW_FamilyFinance
Author  : Behailu Tessema
Created : 2026-06-01
Modified: 2026-06-01
Status  : Architecture Version 1.0 Complete
=================================================================================
Purpose:
    Master documentation for the DW_FamilyFinance data warehouse project.

    This procedure documents:
        - Project purpose
        - Source systems
        - Business rules
        - Architecture decisions
        - Deployment blocks
        - Object inventory
        - Validation results
        - Power BI design
        - Future enhancement ideas

Database:
    DW_FamilyFinance

Source Database:
    STG_FamilyLiving

Source Tables:
    STG_FamilyLiving.dbo.STG_FamilySourceData
    STG_FamilyLiving.dbo.Family_Income
    STG_FamilyLiving.dbo.STG_Description_LookUp

Business Goal:
    Analyze family income, expenses, savings, and financial trends
    from 2020 to present using SQL Server and Power BI.

===============================================================================
SCHEMA STANDARDS
===============================================================================

dim:
    Dimension tables.

fact:
    Fact tables.

etl:
    ETL stored procedures.

rpt:
    Validation, reconciliation, audit, and SQL review views.

===============================================================================
DEPLOYMENT BLOCKS
===============================================================================

BLOCK 01 - Database Creation Procedure
    master.dbo.usp_Create_DW_FamilyFinance

BLOCK 02 - Schema Creation
    dim
    fact
    etl
    rpt

BLOCK 03 - Dimension Table
    dim.DimDate

BLOCK 04 - ETL Procedure
    etl.usp_Load_DimDate

BLOCK 05 - Dimension Table
    dim.DimBank

BLOCK 06 - ETL Procedure
    etl.usp_Load_DimBank

BLOCK 07 - Dimension Table
    dim.DimDescription

BLOCK 08 - ETL Procedure
    etl.usp_Load_DimDescription

BLOCK 09 - Dimension Table
    dim.DimIncomeSource

BLOCK 10 - ETL Procedure
    etl.usp_Load_DimIncomeSource

BLOCK 11 - Fact Table
    fact.FactExpense

BLOCK 12 - ETL Procedure
    etl.usp_Load_FactExpense

BLOCK 13 - Fact Table
    fact.FactIncome

BLOCK 14 - ETL Procedure
    etl.usp_Load_FactIncome

BLOCK 15 - Master ETL Procedure
    etl.usp_Load_DW_FamilyFinance

BLOCK 16 - Validation View
    rpt.vw_ExpenseDetail

BLOCK 17 - Validation View
    rpt.vw_IncomeDetail

BLOCK 18 - Reconciliation Views
    rpt.vw_ExpenseReconciliation
    rpt.vw_IncomeReconciliation

BLOCK 19 - Audit Views
    rpt.vw_ExpenseAudit
    rpt.vw_IncomeAudit

BLOCK 20 - Monthly Summary View
    rpt.vw_MonthlyFinancialSummary

BLOCK 21 - Standard Validation Queries
    Source vs Fact Row Count Validation
    Foreign Key Validation
    Audit Validation
    Monthly Summary Validation

===============================================================================
OBJECT INVENTORY
===============================================================================

Master Database Procedures:
    master.dbo.usp_Create_DW_FamilyFinance
    master.dbo.usp_DW_FamilyFinance_BlockDocumentation

Database:
    DW_FamilyFinance

Schemas:
    dim
    fact
    etl
    rpt

Dimension Tables:
    dim.DimDate
    dim.DimBank
    dim.DimDescription
    dim.DimIncomeSource

Fact Tables:
    fact.FactExpense
    fact.FactIncome

ETL Procedures:
    etl.usp_Load_DimDate
    etl.usp_Load_DimBank
    etl.usp_Load_DimDescription
    etl.usp_Load_DimIncomeSource
    etl.usp_Load_FactExpense
    etl.usp_Load_FactIncome
    etl.usp_Load_DW_FamilyFinance

Views:
    rpt.vw_ExpenseDetail
    rpt.vw_IncomeDetail
    rpt.vw_ExpenseReconciliation
    rpt.vw_IncomeReconciliation
    rpt.vw_ExpenseAudit
    rpt.vw_IncomeAudit
    rpt.vw_MonthlyFinancialSummary

===============================================================================
BUSINESS RULES
===============================================================================

Expense Business Rules:

    Source Table:
        STG_FamilyLiving.dbo.STG_FamilySourceData

    Grain:
        One row in fact.FactExpense represents one financial transaction.

    Transaction Date:
        Source column [Date].

    Unique Source Row:
        ExpenseSourceID.

    TransactionID:
        Optional descriptivehelper field only.
        Not used as the unique transaction key.

    ExpenseAmount:
        ISNULL(Debit, 0.00) - ABS(ISNULL(Credit, 0.00))

    LoadDate:
        ETL audit column only.
        Not used for business reporting.

    Bank Category:
        Source column [Category] from the bank is ignored.
        Final category comes from dim.DimDescription.

Income Business Rules:

    Source Table:
        STG_FamilyLiving.dbo.Family_Income

    Grain:
        One row in fact.FactIncome represents one paycheck issued
        to one employee from one workplace.

    Income Source Grain:
        One row in dim.DimIncomeSource represents one employee
        at one workplace.

    Important Dates:
        Period_Bginning
        Period_Ending
        Pay_Day

===============================================================================
NAMING STANDARDS
===============================================================================

Dimension Tables:
    Dim*

Fact Tables:
    Fact*

ETL Procedures:
    etl.usp_Load_*

Reporting  Validation Views:
    rpt.vw_*

Surrogate Key Standards:
    All dimensions use integer surrogate keys.

Examples:
    DateKey
    BankKey
    DescriptionKey
    IncomeSourceKey

Audit Column Standards:
    CreatedDate
    ModifiedDate
    SourceSystem

===============================================================================
ARCHITECTURE DECISIONS
===============================================================================

2026-05-31:
    Database name selected as DW_FamilyFinance instead of DW_FamilyLiving
    to support future expansion beyond income and expense reporting.

2026-05-31:
    Schemas dim, fact, etl, and rpt created using enterprise data warehouse
    organization standards.

2026-05-31:
    Expense fact grain defined as one row per financial transaction.

2026-05-31:
    Income fact grain defined as one row per paycheck issued to one employee
    from one workplace.

2026-05-31:
    LoadDate in STG_FamilySourceData is treated as an ETL audit date,
    not as a business reporting date.

2026-05-31:
    DimDate load procedure uses configurable StartDate and EndDate parameters
    to support easy rebuild and future extension.

2026-05-31:
    Junk dimension considered but not created.
    Current attributes are limited and better stored directly in fact tables.

2026-05-31:
    DimCategory, DimSubCategory, and DimExpenseType were not created
    as separate dimensions.
    Category, SubCategory, and ExpenseType are stored inside dim.DimDescription.

2026-06-01:
    FactExpense uses one finalized ExpenseAmount column.
    Refundcredit impact is handled inside the data warehouse,
    allowing Power BI to use a simple SUM measure.

2026-06-01:
    Power BI will use fact and dimension tables directly
    using an enterprise star schema model.

2026-06-01:
    Reporting views are retained for validation, reconciliation,
    auditing, and SQL review only.

===============================================================================
VALIDATION RESULTS
===============================================================================

Expense Reconciliation:
    Source rows = Fact rows.
    Row difference = 0.
    Status = PASS.

Income Reconciliation:
    Source rows = Fact rows.
    Row difference = 0.
    Status = PASS.

Expense Audit:
    No unmatched bank records.
    No unmatched description records.
    Status = PASS.

Income Audit:
    No unmatched income source records.
    Status = PASS.

Foreign Key Validation:
    All fact table foreign keys validated.
    Status = PASS.

===============================================================================
POWER BI DESIGN
===============================================================================

Power BI Model Type:
    Enterprise Star Schema.

Power BI Tables:
    fact.FactExpense
    fact.FactIncome
    dim.DimDate
    dim.DimBank
    dim.DimDescription
    dim.DimIncomeSource

Recommended Power BI Measures:

    Total Expense:
        SUM(FactExpense[ExpenseAmount])

    Total Net Income:
        SUM(FactIncome[EmployerNetPay])

    Gross Income:
        SUM(FactIncome[GrossPayment])

    Total Tax:
        SUM(FactIncome[TotalTax])

    Net Savings:
        [Total Net Income] - [Total Expense]

===============================================================================
FUTURE ENHANCEMENT IDEAS
===============================================================================

Future Facts:
    fact.FactSavings
    fact.FactAsset
    fact.FactDebt
    fact.FactInvestment

Future Dimensions:
    dim.DimAccount
    dim.DimAsset
    dim.DimDebtType
    dim.DimInvestmentAccount

===============================================================================
VERSION HISTORY
===============================================================================

Version 1.0:
    Completed database design, schemas, dimensions, facts, ETL procedures,
    validation views, audit views, reconciliation views, monthly summary view,
    and enterprise Power BI readiness.

===============================================================================
Project : DW_FamilyFinance
Author  : Behailu Tessema
Created : 2026-05-31
Modified: 2026-06-01
Status  : Version 1.0 Complete

===============================================================================
BLOCK 01: Create Database Procedure in master
Purpose:
    Create DW_FamilyFinance only if it does not already exist.
===============================================================================

USE master;
GO

CREATE OR ALTER PROCEDURE dbo.usp_Create_DW_FamilyFinance
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM sys.databases
        WHERE name = 'DW_FamilyFinance'
    )
    BEGIN
        CREATE DATABASE DW_FamilyFinance;

        SELECT
            'Database Created Successfully' AS Status,
            'DW_FamilyFinance' AS DatabaseName;
    END
    ELSE
    BEGIN
        SELECT
            'Database Already Exists' AS Status,
            'DW_FamilyFinance' AS DatabaseName;
    END;
END;
GO

EXEC master.dbo.usp_Create_DW_FamilyFinance;
GO



===============================================================================
BLOCK 02: Create Enterprise Schemas
Purpose:
    Organize warehouse objects by function:
        dim  = Dimension tables
        fact = Fact tables
        etl  = ETL stored procedures
        rpt  = Validation, reconciliation, audit, and review views
===============================================================================

USE DW_FamilyFinance;
GO

IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'dim')
    EXEC('CREATE SCHEMA dim');
GO

IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'fact')
    EXEC('CREATE SCHEMA fact');
GO

IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'etl')
    EXEC('CREATE SCHEMA etl');
GO

IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'rpt')
    EXEC('CREATE SCHEMA rpt');
GO



===============================================================================
BLOCK 03: Create dim.DimDate
Purpose:
    Shared calendar dimension used by expense and income fact tables.

Key Design:
    DateKey uses YYYYMMDD integer format.
    Example:
        2026-06-01 becomes 20260601.
===============================================================================

USE DW_FamilyFinance;
GO

IF OBJECT_ID('dim.DimDate', 'U') IS NULL
BEGIN
    CREATE TABLE dim.DimDate
    (
        DateKey             INT          NOT NULL,
        FullDate            DATE         NOT NULL,
        [Year]              INT          NOT NULL,
        QuarterNumber       INT          NOT NULL,
        MonthNumber         INT          NOT NULL,
        MonthName           VARCHAR(20)  NOT NULL,
        MonthShortName      VARCHAR(3)   NOT NULL,
        YearMonthNumber     INT          NOT NULL,
        YearMonthName       VARCHAR(20)  NOT NULL,
        DayOfMonth          INT          NOT NULL,
        DayOfWeekNumber     INT          NOT NULL,
        DayOfWeekName       VARCHAR(20)  NOT NULL,
        WeekOfYear          INT          NOT NULL,
        IsWeekend           BIT          NOT NULL,
        CreatedDate         DATETIME2(0) NOT NULL
            CONSTRAINT DF_DimDate_CreatedDate DEFAULT SYSDATETIME(),
        ModifiedDate        DATETIME2(0) NULL,

        CONSTRAINT PK_DimDate PRIMARY KEY CLUSTERED (DateKey),
        CONSTRAINT UQ_DimDate_FullDate UNIQUE (FullDate)
    );
END;
GO



===============================================================================
BLOCK 04: Create etl.usp_Load_DimDate
Purpose:
    Load dim.DimDate with configurable StartDate and EndDate.

Important:
    @FullReload = 1 deletes and reloads DimDate only when fact tables are empty.
    Do not use full reload after fact tables contain rows unless you first
    remove dependent fact rows.
===============================================================================

USE DW_FamilyFinance;
GO

CREATE OR ALTER PROCEDURE etl.usp_Load_DimDate
    @StartDate  DATE = '2020-01-01',
    @EndDate    DATE = '2040-12-31',
    @FullReload BIT  = 0
AS
BEGIN
    SET NOCOUNT ON;

    IF @StartDate > @EndDate
    BEGIN
        THROW 50001, '@StartDate cannot be greater than @EndDate.', 1;
    END;

    IF @FullReload = 1
    BEGIN
        IF EXISTS (SELECT 1 FROM fact.FactExpense)
           OR EXISTS (SELECT 1 FROM fact.FactIncome)
        BEGIN
            THROW 50002, 'DimDate full reload is not allowed while fact tables contain rows.', 1;
        END;

        DELETE FROM dim.DimDate;
    END;

    ;WITH DateList AS
    (
        SELECT @StartDate AS FullDate

        UNION ALL

        SELECT DATEADD(DAY, 1, FullDate)
        FROM DateList
        WHERE FullDate < @EndDate
    )
    INSERT INTO dim.DimDate
    (
        DateKey,
        FullDate,
        [Year],
        QuarterNumber,
        MonthNumber,
        MonthName,
        MonthShortName,
        YearMonthNumber,
        YearMonthName,
        DayOfMonth,
        DayOfWeekNumber,
        DayOfWeekName,
        WeekOfYear,
        IsWeekend
    )
    SELECT
        CONVERT(INT, CONVERT(CHAR(8), FullDate, 112)) AS DateKey,
        FullDate,
        YEAR(FullDate) AS [Year],
        DATEPART(QUARTER, FullDate) AS QuarterNumber,
        MONTH(FullDate) AS MonthNumber,
        DATENAME(MONTH, FullDate) AS MonthName,
        LEFT(DATENAME(MONTH, FullDate), 3) AS MonthShortName,
        CONVERT(INT, CONVERT(CHAR(6), FullDate, 112)) AS YearMonthNumber,
        CONCAT(YEAR(FullDate), '-', LEFT(DATENAME(MONTH, FullDate), 3)) AS YearMonthName,
        DAY(FullDate) AS DayOfMonth,
        DATEPART(WEEKDAY, FullDate) AS DayOfWeekNumber,
        DATENAME(WEEKDAY, FullDate) AS DayOfWeekName,
        DATEPART(WEEK, FullDate) AS WeekOfYear,
        CASE
            WHEN DATENAME(WEEKDAY, FullDate) IN ('Saturday', 'Sunday') THEN 1
            ELSE 0
        END AS IsWeekend
    FROM DateList d
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM dim.DimDate x
        WHERE x.FullDate = d.FullDate
    )
    OPTION (MAXRECURSION 0);
END;
GO



===============================================================================
BLOCK 05: Create dim.DimBank
Purpose:
    Store unique banksource names used by expense transactions.
===============================================================================

USE DW_FamilyFinance;
GO

IF OBJECT_ID('dim.DimBank', 'U') IS NULL
BEGIN
    CREATE TABLE dim.DimBank
    (
        BankKey      INT IDENTITY(1,1) NOT NULL,
        BankName     VARCHAR(100) NOT NULL,
        SourceSystem VARCHAR(100) NOT NULL,
        CreatedDate  DATETIME2(0) NOT NULL
            CONSTRAINT DF_DimBank_CreatedDate DEFAULT SYSDATETIME(),
        ModifiedDate DATETIME2(0) NULL,

        CONSTRAINT PK_DimBank PRIMARY KEY CLUSTERED (BankKey),
        CONSTRAINT UQ_DimBank_BankName UNIQUE (BankName)
    );
END;
GO



===============================================================================
BLOCK 06: Create etl.usp_Load_DimBank
Purpose:
    Load new banksource names from the expense staging table.
===============================================================================

USE DW_FamilyFinance;
GO

CREATE OR ALTER PROCEDURE etl.usp_Load_DimBank
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dim.DimBank
    (
        BankName,
        SourceSystem
    )
    SELECT DISTINCT
        LTRIM(RTRIM(s.SourceName)) AS BankName,
        'STG_FamilyLiving.dbo.STG_FamilySourceData' AS SourceSystem
    FROM STG_FamilyLiving.dbo.STG_FamilySourceData s
    WHERE s.SourceName IS NOT NULL
      AND LTRIM(RTRIM(s.SourceName)) <> ''
      AND NOT EXISTS
      (
          SELECT 1
          FROM dim.DimBank b
          WHERE b.BankName = LTRIM(RTRIM(s.SourceName))
      );
END;
GO



===============================================================================
BLOCK 07: Create dim.DimDescription
Purpose:
    Store expense description and controlled categorization attributes.

Design Decision:
    Category, SubCategory, and ExpenseType are intentionally stored in this
    dimension instead of separate DimCategory, DimSubCategory, and DimExpenseType
    tables. This keeps the Power BI star schema simpler.
===============================================================================

USE DW_FamilyFinance;
GO

IF OBJECT_ID('dim.DimDescription', 'U') IS NULL
BEGIN
    CREATE TABLE dim.DimDescription
    (
        DescriptionKey     INT IDENTITY(1,1) NOT NULL,
        DescriptionName    VARCHAR(255) NOT NULL,
        [Description]      VARCHAR(500) NULL,
        Category           VARCHAR(200) NULL,
        SubCategory        VARCHAR(200) NULL,
        ExpenseType        VARCHAR(200) NULL,
        SourceSystem       VARCHAR(100) NOT NULL,
        CreatedDate        DATETIME2(0) NOT NULL
            CONSTRAINT DF_DimDescription_CreatedDate DEFAULT SYSDATETIME(),
        ModifiedDate       DATETIME2(0) NULL,

        CONSTRAINT PK_DimDescription PRIMARY KEY CLUSTERED (DescriptionKey),
        CONSTRAINT UQ_DimDescription_DescriptionName UNIQUE (DescriptionName)
    );
END;
GO


*
===============================================================================
BLOCK 08: Create etl.usp_Load_DimDescription
Purpose:
    Load description and categorization data from STG_Description_LookUp.
===============================================================================
*
USE DW_FamilyFinance;
GO

CREATE OR ALTER PROCEDURE etl.usp_Load_DimDescription
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dim.DimDescription
    (
        DescriptionName,
        [Description],
        Category,
        SubCategory,
        ExpenseType,
        SourceSystem
    )
    SELECT
        LTRIM(RTRIM(s.LookUp_Description_Name)) AS DescriptionName,
        LTRIM(RTRIM(s.LookUp_Description)) AS [Description],
        LTRIM(RTRIM(s.LookUp_Category)) AS Category,
        LTRIM(RTRIM(s.LookUp_SubCategory)) AS SubCategory,
        LTRIM(RTRIM(s.LookUp_ExpenseType)) AS ExpenseType,
        'STG_FamilyLiving.dbo.STG_Description_LookUp' AS SourceSystem
    FROM STG_FamilyLiving.dbo.STG_Description_LookUp s
    WHERE s.LookUp_Description_Name IS NOT NULL
      AND LTRIM(RTRIM(s.LookUp_Description_Name)) <> ''
      AND NOT EXISTS
      (
          SELECT 1
          FROM dim.DimDescription d
          WHERE d.DescriptionName = LTRIM(RTRIM(s.LookUp_Description_Name))
      );
END;
GO


*
===============================================================================
BLOCK 09: Create dim.DimIncomeSource
Purpose:
    Store one row per employee and workplace combination.

Grain:
    One row represents one employee at one workplace.
===============================================================================
*
USE DW_FamilyFinance;
GO

IF OBJECT_ID('dim.DimIncomeSource', 'U') IS NULL
BEGIN
    CREATE TABLE dim.DimIncomeSource
    (
        IncomeSourceKey  INT IDENTITY(1,1) NOT NULL,
        WorkPlace        VARCHAR(150) NOT NULL,
        EmployeeFullName VARCHAR(150) NOT NULL,
        SourceSystem     VARCHAR(100) NOT NULL,
        CreatedDate      DATETIME2(0) NOT NULL
            CONSTRAINT DF_DimIncomeSource_CreatedDate DEFAULT SYSDATETIME(),
        ModifiedDate     DATETIME2(0) NULL,

        CONSTRAINT PK_DimIncomeSource PRIMARY KEY CLUSTERED (IncomeSourceKey),
        CONSTRAINT UQ_DimIncomeSource_WorkPlace_Employee UNIQUE (WorkPlace, EmployeeFullName)
    );
END;
GO


*
===============================================================================
BLOCK 10: Create etl.usp_Load_DimIncomeSource
Purpose:
    Load unique employeeworkplace combinations from Family_Income.
===============================================================================
*
USE DW_FamilyFinance;
GO

CREATE OR ALTER PROCEDURE etl.usp_Load_DimIncomeSource
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dim.DimIncomeSource
    (
        WorkPlace,
        EmployeeFullName,
        SourceSystem
    )
    SELECT DISTINCT
        LTRIM(RTRIM(s.Work_Place)) AS WorkPlace,
        LTRIM(RTRIM(s.Employee_FullName)) AS EmployeeFullName,
        'STG_FamilyLiving.dbo.Family_Income' AS SourceSystem
    FROM STG_FamilyLiving.dbo.Family_Income s
    WHERE s.Work_Place IS NOT NULL
      AND LTRIM(RTRIM(s.Work_Place)) <> ''
      AND s.Employee_FullName IS NOT NULL
      AND LTRIM(RTRIM(s.Employee_FullName)) <> ''
      AND NOT EXISTS
      (
          SELECT 1
          FROM dim.DimIncomeSource d
          WHERE d.WorkPlace = LTRIM(RTRIM(s.Work_Place))
            AND d.EmployeeFullName = LTRIM(RTRIM(s.Employee_FullName))
      );
END;
GO


*
===============================================================================
BLOCK 11: Create fact.FactExpense
Purpose:
    Store one row per expense source transaction.

Grain:
    One row represents one financial transaction from STG_FamilySourceData.

Business Rule:
    ExpenseAmount is finalized in the data warehouse.
===============================================================================
*
USE DW_FamilyFinance;
GO

IF OBJECT_ID('fact.FactExpense', 'U') IS NULL
BEGIN
    CREATE TABLE fact.FactExpense
    (
        ExpenseFactKey        BIGINT IDENTITY(1,1) NOT NULL,
        SourceExpenseID       BIGINT NOT NULL,
        TransactionID         VARCHAR(500) NULL,
        TransactionDateKey    INT NOT NULL,
        BankKey               INT NOT NULL,
        DescriptionKey        INT NOT NULL,
        ExpenseAmount         DECIMAL(18,2) NOT NULL,
        LoadDate              DATE NULL,
        SourceSystem          VARCHAR(100) NOT NULL,
        CreatedDate           DATETIME2(0) NOT NULL
            CONSTRAINT DF_FactExpense_CreatedDate DEFAULT SYSDATETIME(),
        ModifiedDate          DATETIME2(0) NULL,

        CONSTRAINT PK_FactExpense PRIMARY KEY CLUSTERED (ExpenseFactKey),
        CONSTRAINT UQ_FactExpense_SourceExpenseID UNIQUE (SourceExpenseID),

        CONSTRAINT FK_FactExpense_DimDate
            FOREIGN KEY (TransactionDateKey)
            REFERENCES dim.DimDate(DateKey),

        CONSTRAINT FK_FactExpense_DimBank
            FOREIGN KEY (BankKey)
            REFERENCES dim.DimBank(BankKey),

        CONSTRAINT FK_FactExpense_DimDescription
            FOREIGN KEY (DescriptionKey)
            REFERENCES dim.DimDescription(DescriptionKey)
    );
END;
GO


*
===============================================================================
BLOCK 12: Create etl.usp_Load_FactExpense
Purpose:
    Load expense fact rows after dimensions are loaded.

Business Rule:
    ExpenseAmount = ISNULL(Debit, 0.00) - ABS(ISNULL(Credit, 0.00))
===============================================================================
*
USE DW_FamilyFinance;
GO

CREATE OR ALTER PROCEDURE etl.usp_Load_FactExpense
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO fact.FactExpense
    (
        SourceExpenseID,
        TransactionID,
        TransactionDateKey,
        BankKey,
        DescriptionKey,
        ExpenseAmount,
        LoadDate,
        SourceSystem
    )
    SELECT
        s.ExpenseSourceID,
        s.Transaction_ID AS TransactionID,
        CONVERT(INT, CONVERT(CHAR(8), s.[Date], 112)) AS TransactionDateKey,
        b.BankKey,
        d.DescriptionKey,
        ISNULL(s.Debit, 0.00) - ABS(ISNULL(s.Credit, 0.00)) AS ExpenseAmount,
        s.LoadDate,
        'STG_FamilyLiving.dbo.STG_FamilySourceData' AS SourceSystem
    FROM STG_FamilyLiving.dbo.STG_FamilySourceData s
    INNER JOIN dim.DimBank b
        ON b.BankName = LTRIM(RTRIM(s.SourceName))
    INNER JOIN dim.DimDescription d
        ON d.DescriptionName = LTRIM(RTRIM(s.[Description]))
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM fact.FactExpense f
        WHERE f.SourceExpenseID = s.ExpenseSourceID
    );
END;
GO


*
===============================================================================
BLOCK 13: Create fact.FactIncome
Purpose:
    Store one row per paycheck issued to one employee from one workplace.

Grain:
    One row represents one paycheck issued to one employee from one workplace.
===============================================================================
*
USE DW_FamilyFinance;
GO

IF OBJECT_ID('fact.FactIncome', 'U') IS NULL
BEGIN
    CREATE TABLE fact.FactIncome
(
    IncomeFactKey             BIGINT IDENTITY(1,1) NOT NULL,
    SourceIncomeID            BIGINT NOT NULL,

    IncomeSourceKey           INT NOT NULL,
    PeriodBeginningDateKey    INT NOT NULL,
    PeriodEndingDateKey       INT NOT NULL,
    PayDateKey                INT NOT NULL,

    GrossPayment              DECIMAL(18,2) NOT NULL,
    FederalTax                DECIMAL(18,2) NOT NULL,
    SSTax                     DECIMAL(18,2) NOT NULL,
    MedicareTax               DECIMAL(18,2) NOT NULL,
    CAStateTax                DECIMAL(18,2) NOT NULL,
    CASDITax                  DECIMAL(18,2) NOT NULL,
    EmployerNetPay            DECIMAL(18,2) NOT NULL,
    TotalTax                  DECIMAL(18,2) NOT NULL,

    PaymentValidation         BIT NOT NULL,
    SourceSystem              VARCHAR(100) NOT NULL,

    CreatedDate               DATETIME2(0) NOT NULL
        CONSTRAINT DF_FactIncome_CreatedDate
        DEFAULT SYSDATETIME(),

    ModifiedDate              DATETIME2(0) NULL,

    CONSTRAINT PK_FactIncome
        PRIMARY KEY CLUSTERED (IncomeFactKey),

    CONSTRAINT UQ_FactIncome_SourceIncomeID
        UNIQUE (SourceIncomeID),

    CONSTRAINT FK_FactIncome_DimIncomeSource
        FOREIGN KEY (IncomeSourceKey)
        REFERENCES dim.DimIncomeSource(IncomeSourceKey),

    CONSTRAINT FK_FactIncome_PeriodBeginningDate
        FOREIGN KEY (PeriodBeginningDateKey)
        REFERENCES dim.DimDate(DateKey),

    CONSTRAINT FK_FactIncome_PeriodEndingDate
        FOREIGN KEY (PeriodEndingDateKey)
        REFERENCES dim.DimDate(DateKey),

    CONSTRAINT FK_FactIncome_PayDate
        FOREIGN KEY (PayDateKey)
        REFERENCES dim.DimDate(DateKey)
);
END;
GO


*
===============================================================================
BLOCK 14: Create etl.usp_Load_FactIncome
Purpose:
    Load income fact rows after DimIncomeSource and DimDate are loaded.
===============================================================================
*
USE DW_FamilyFinance;
GO

CREATE OR ALTER PROCEDURE etl.usp_Load_FactIncome
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO fact.FactIncome
    (
        IncomeSourceKey,
        PeriodBeginningDateKey,
        PeriodEndingDateKey,
        PayDateKey,
        GrossPayment,
        FederalTax,
        SSTax,
        MedicareTax,
        CAStateTax,
        CASDITax,
        EmployerNetPay,
        TotalTax,
        PaymentValidation,
        SourceSystem
    )
    SELECT
        src.IncomeSourceKey,
        CONVERT(INT, CONVERT(CHAR(8), s.Period_Bginning, 112)) AS PeriodBeginningDateKey,
        CONVERT(INT, CONVERT(CHAR(8), s.Period_Ending, 112)) AS PeriodEndingDateKey,
        CONVERT(INT, CONVERT(CHAR(8), s.Pay_Day, 112)) AS PayDateKey,
        ISNULL(s.Gross_Payment, 0.00) AS GrossPayment,
        ISNULL(s.Federal_Tax, 0.00) AS FederalTax,
        ISNULL(s.SS_Tax, 0.00) AS SSTax,
        ISNULL(s.Medical_Tax, 0.00) AS MedicareTax,
        ISNULL(s.CA_State_Tax, 0.00) AS CAStateTax,
        ISNULL(s.CA_SDI_Tax, 0.00) AS CASDITax,
        ISNULL(s.Employer_NetPay, 0.00) AS EmployerNetPay,
        ISNULL(s.Total_Tax, 0.00) AS TotalTax,
        ISNULL(s.Payment_Validation, 0) AS PaymentValidation,
        'STG_FamilyLiving.dbo.Family_Income' AS SourceSystem
    FROM STG_FamilyLiving.dbo.Family_Income s
    INNER JOIN dim.DimIncomeSource src
        ON src.WorkPlace = LTRIM(RTRIM(s.Work_Place))
       AND src.EmployeeFullName = LTRIM(RTRIM(s.Employee_FullName))
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM fact.FactIncome f
        WHERE f.IncomeSourceKey = src.IncomeSourceKey
          AND f.PeriodBeginningDateKey = CONVERT(INT, CONVERT(CHAR(8), s.Period_Bginning, 112))
          AND f.PeriodEndingDateKey = CONVERT(INT, CONVERT(CHAR(8), s.Period_Ending, 112))
          AND f.PayDateKey = CONVERT(INT, CONVERT(CHAR(8), s.Pay_Day, 112))
    );
END;
GO


*
===============================================================================
BLOCK 15: Create Master ETL Procedure
Purpose:
    Execute all dimension and fact load procedures in dependency order.
===============================================================================
*
USE DW_FamilyFinance;
GO

CREATE OR ALTER PROCEDURE etl.usp_Load_DW_FamilyFinance
AS
BEGIN
    SET NOCOUNT ON;

    EXEC etl.usp_Load_DimDate;
    EXEC etl.usp_Load_DimBank;
    EXEC etl.usp_Load_DimDescription;
    EXEC etl.usp_Load_DimIncomeSource;

    EXEC etl.usp_Load_FactExpense;
    EXEC etl.usp_Load_FactIncome;

    SELECT 'DW_FamilyFinance load completed successfully' AS LoadStatus;
END;
GO


*
===============================================================================
BLOCK 16: Create rpt.vw_ExpenseDetail
Purpose:
    Expense detail view for SQL validation and quick review.

Note:
    Power BI enterprise model should use fact and dimension tables directly.
===============================================================================
*
USE DW_FamilyFinance;
GO

CREATE OR ALTER VIEW rpt.vw_ExpenseDetail
AS
SELECT
    f.ExpenseFactKey,
    f.SourceExpenseID,
    f.TransactionID,
    d.FullDate AS TransactionDate,
    d.[Year],
    d.YearMonthNumber,
    d.YearMonthName,
    b.BankName,
    des.DescriptionName,
    des.[Description],
    des.Category,
    des.SubCategory,
    des.ExpenseType,
    f.ExpenseAmount,
    f.LoadDate,
    f.SourceSystem,
    f.CreatedDate
FROM fact.FactExpense f
INNER JOIN dim.DimDate d
    ON d.DateKey = f.TransactionDateKey
INNER JOIN dim.DimBank b
    ON b.BankKey = f.BankKey
INNER JOIN dim.DimDescription des
    ON des.DescriptionKey = f.DescriptionKey;
GO


*
===============================================================================
BLOCK 17: Create rpt.vw_IncomeDetail
Purpose:
    Income detail view for SQL validation and quick review.
===============================================================================
*
USE DW_FamilyFinance;
GO

CREATE OR ALTER VIEW rpt.vw_IncomeDetail
AS
SELECT
    f.IncomeFactKey,
    ds.EmployeeFullName,
    ds.WorkPlace,
    pb.FullDate AS PeriodBeginningDate,
    pe.FullDate AS PeriodEndingDate,
    pd.FullDate AS PayDate,
    pd.[Year],
    pd.YearMonthNumber,
    pd.YearMonthName,
    f.GrossPayment,
    f.FederalTax,
    f.SSTax,
    f.MedicareTax,
    f.CAStateTax,
    f.CASDITax,
    f.TotalTax,
    f.EmployerNetPay,
    f.PaymentValidation,
    f.SourceSystem,
    f.CreatedDate
FROM fact.FactIncome f
INNER JOIN dim.DimIncomeSource ds
    ON ds.IncomeSourceKey = f.IncomeSourceKey
INNER JOIN dim.DimDate pb
    ON pb.DateKey = f.PeriodBeginningDateKey
INNER JOIN dim.DimDate pe
    ON pe.DateKey = f.PeriodEndingDateKey
INNER JOIN dim.DimDate pd
    ON pd.DateKey = f.PayDateKey;
GO


*
===============================================================================
BLOCK 18: Create Reconciliation Views
Purpose:
    Compare source row counts to fact row counts.

Expected Result:
    RowDifference should be 0.
===============================================================================
*
USE DW_FamilyFinance;
GO

CREATE OR ALTER VIEW rpt.vw_ExpenseReconciliation
AS
SELECT
    'Expense' AS SubjectArea,
    (SELECT COUNT(*) FROM STG_FamilyLiving.dbo.STG_FamilySourceData) AS SourceRowCount,
    (SELECT COUNT(*) FROM fact.FactExpense) AS FactRowCount,
    (SELECT COUNT(*) FROM STG_FamilyLiving.dbo.STG_FamilySourceData)
    -
    (SELECT COUNT(*) FROM fact.FactExpense) AS RowDifference;
GO

CREATE OR ALTER VIEW rpt.vw_IncomeReconciliation
AS
SELECT
    'Income' AS SubjectArea,
    (SELECT COUNT(*) FROM STG_FamilyLiving.dbo.Family_Income) AS SourceRowCount,
    (SELECT COUNT(*) FROM fact.FactIncome) AS FactRowCount,
    (SELECT COUNT(*) FROM STG_FamilyLiving.dbo.Family_Income)
    -
    (SELECT COUNT(*) FROM fact.FactIncome) AS RowDifference;
GO


*
===============================================================================
BLOCK 19: Create Audit Views
Purpose:
    Identify source rows that fail dimension matching.

Expected Result:
    These views should return no rows after dimensions are properly loaded.
===============================================================================
*
USE DW_FamilyFinance;
GO

CREATE OR ALTER VIEW rpt.vw_ExpenseAudit
AS
SELECT
    s.ExpenseSourceID,
    s.Transaction_ID,
    s.[Date] AS TransactionDate,
    s.[Description],
    s.SourceName AS BankName,
    s.Debit,
    s.Credit,
    s.LoadDate,
    CASE
        WHEN b.BankKey IS NULL THEN 'Missing Bank'
        ELSE 'Matched'
    END AS BankAuditStatus,
    CASE
        WHEN d.DescriptionKey IS NULL THEN 'Missing Description'
        ELSE 'Matched'
    END AS DescriptionAuditStatus
FROM STG_FamilyLiving.dbo.STG_FamilySourceData s
LEFT JOIN dim.DimBank b
    ON b.BankName = LTRIM(RTRIM(s.SourceName))
LEFT JOIN dim.DimDescription d
    ON d.DescriptionName = LTRIM(RTRIM(s.[Description]))
WHERE b.BankKey IS NULL
   OR d.DescriptionKey IS NULL;
GO

CREATE OR ALTER VIEW rpt.vw_IncomeAudit
AS
SELECT
    s.Period_Bginning,
    s.Period_Ending,
    s.Pay_Day,
    s.Work_Place,
    s.Employee_FullName,
    s.Gross_Payment,
    s.Employer_NetPay,
    CASE
        WHEN ds.IncomeSourceKey IS NULL THEN 'Missing Income Source'
        ELSE 'Matched'
    END AS IncomeSourceAuditStatus
FROM STG_FamilyLiving.dbo.Family_Income s
LEFT JOIN dim.DimIncomeSource ds
    ON ds.WorkPlace = LTRIM(RTRIM(s.Work_Place))
   AND ds.EmployeeFullName = LTRIM(RTRIM(s.Employee_FullName))
WHERE ds.IncomeSourceKey IS NULL;
GO


*
===============================================================================
BLOCK 20: Create rpt.vw_MonthlyFinancialSummary
Purpose:
    Monthly SQL summary for quick validation and executive review.

Note:
    This is not the primary Power BI semantic model.
===============================================================================
*
USE DW_FamilyFinance;
GO

CREATE OR ALTER VIEW rpt.vw_MonthlyFinancialSummary
AS
WITH ExpenseMonthly AS
(
    SELECT
        d.[Year],
        d.YearMonthNumber,
        d.YearMonthName,
        SUM(e.ExpenseAmount) AS TotalExpense
    FROM fact.FactExpense e
    INNER JOIN dim.DimDate d
        ON d.DateKey = e.TransactionDateKey
    GROUP BY
        d.[Year],
        d.YearMonthNumber,
        d.YearMonthName
),
IncomeMonthly AS
(
    SELECT
        d.[Year],
        d.YearMonthNumber,
        d.YearMonthName,
        SUM(i.EmployerNetPay) AS TotalIncome
    FROM fact.FactIncome i
    INNER JOIN dim.DimDate d
        ON d.DateKey = i.PayDateKey
    GROUP BY
        d.[Year],
        d.YearMonthNumber,
        d.YearMonthName
)
SELECT
    COALESCE(e.[Year], i.[Year]) AS [Year],
    COALESCE(e.YearMonthNumber, i.YearMonthNumber) AS YearMonthNumber,
    COALESCE(e.YearMonthName, i.YearMonthName) AS YearMonthName,
    ISNULL(i.TotalIncome, 0.00) AS TotalIncome,
    ISNULL(e.TotalExpense, 0.00) AS TotalExpense,
    ISNULL(i.TotalIncome, 0.00) - ISNULL(e.TotalExpense, 0.00) AS NetSavings
FROM ExpenseMonthly e
FULL OUTER JOIN IncomeMonthly i
    ON e.YearMonthNumber = i.YearMonthNumber;
GO


*
===============================================================================
BLOCK 21: Standard Validation Queries
Purpose:
    Run these checks after ETL loads complete.
===============================================================================
*

-- Execute the complete warehouse load:
-- EXEC DW_FamilyFinance.etl.usp_Load_DW_FamilyFinance;
-- GO

-- Verify row counts:
-- SELECT * FROM DW_FamilyFinance.rpt.vw_ExpenseReconciliation;
-- SELECT * FROM DW_FamilyFinance.rpt.vw_IncomeReconciliation;

-- Verify audit views return no rows:
-- SELECT * FROM DW_FamilyFinance.rpt.vw_ExpenseAudit;
-- SELECT * FROM DW_FamilyFinance.rpt.vw_IncomeAudit;

-- Verify monthly summary:
-- SELECT *
-- FROM DW_FamilyFinance.rpt.vw_MonthlyFinancialSummary
-- ORDER BY YearMonthNumber;

-- Verify documentation:
-- EXEC master.dbo.usp_DW_FamilyFinance_Documentation;
-- EXEC master.dbo.usp_DW_FamilyFinance_BlockDocumentation;
-- GO

-- Verify schemas:
-- SELECT name
-- FROM DW_FamilyFinance.sys.schemas
-- WHERE name IN ('dim','fact','etl','rpt')
-- ORDER BY name;

-- Verify reporting views:
-- SELECT 
--     s.name AS SchemaName,
--     v.name AS ViewName
-- FROM DW_FamilyFinance.sys.views v
-- INNER JOIN DW_FamilyFinance.sys.schemas s
--     ON s.schema_id = v.schema_id
-- WHERE s.name = 'rpt'
-- ORDER BY v.name;
--=========================================

USE STG_FamilyLiving;
GO

CREATE OR ALTER PROCEDURE dbo.usp_Display_Numberofrecords
AS

===============================================================================
Project : DW_FamilyFinance
Author  : Behailu Tessema
Purpose : Compare source/staging row counts against DW_FamilyFinance fact tables.
Location: STG_FamilyLiving
===============================================================================

BEGIN
    SET NOCOUNT ON;

    SELECT
        stg_exp.SourceExpenseRows,
        dw_exp.FactExpenseRows,
        stg_inc.SourceIncomeRows,
        dw_inc.FactIncomeRows,

        CASE
            WHEN stg_exp.SourceExpenseRows = dw_exp.FactExpenseRows
             AND stg_inc.SourceIncomeRows = dw_inc.FactIncomeRows
            THEN 'PASS'
            ELSE 'FAIL'
        END AS Audit_Status
    FROM
    (
        SELECT COUNT_BIG(*) AS SourceExpenseRows
        FROM STG_FamilyLiving.dbo.STG_FamilySourceData
    ) stg_exp
    CROSS JOIN
    (
        SELECT COUNT_BIG(*) AS FactExpenseRows
        FROM DW_FamilyFinance.fact.FactExpense
    ) dw_exp
    CROSS JOIN
    (
        SELECT COUNT_BIG(*) AS SourceIncomeRows
        FROM STG_FamilyLiving.dbo.Family_Income
    ) stg_inc
    CROSS JOIN
    (
        SELECT COUNT_BIG(*) AS FactIncomeRows
        FROM DW_FamilyFinance.fact.FactIncome
    ) dw_inc;
END;
GO
*/
