USE [DW_FamilyFinance];


GO
SET ANSI_NULLS ON;


GO
SET QUOTED_IDENTIFIER ON;


GO
/***************************************************************************************************
Procedure Name : etl.usp_Load_DW_FamilyFinance
Author         : Behailu Tessema
Created Date   : 06/04/2026
Database       : DW_FamilyFinance
Schema         : etl
Project        : DW_FamilyFinance Data Warehouse

Purpose:
    Executes the complete DW_FamilyFinance ETL process. This procedure is
    the master warehouse load controller responsible for loading dimensions,
    synchronizing corrected fact records, and inserting new fact records.

Load Type:
    Master ETL orchestration procedure.

Business Rules:
    1. Dimension tables are loaded before fact tables.
    2. Existing fact records are updated before new fact records are inserted.
    3. Expense maintenance uses SourceExpenseID.
    4. Income maintenance uses SourceIncomeID.
    5. This procedure serves as the single entry point for warehouse loading.

Execution Order:
    1. Load dimension tables.
    2. Update corrected existing expense records.
    3. Update corrected existing income records.
    4. Insert new expense records.
    5. Insert new income records.
    6. Return ETL completion status.

Procedures Executed:
    - etl.usp_Load_DimDate
    - etl.usp_Load_DimBank
    - etl.usp_Load_DimDescription
    - etl.usp_Load_DimIncomeSource
    - etl.usp_Update_FactExpense
    - etl.usp_Update_FactIncome
    - etl.usp_Load_FactExpense
    - etl.usp_Load_FactIncome

Expected Usage:
    - Manual refresh
    - SSIS package execution
    - Scheduled daily, weekly, or monthly warehouse load

Example:
    EXEC etl.usp_Load_DW_FamilyFinance;

Modification History:
-----------------------------------------------------------------------------------------------
Date         Author              Description
-----------------------------------------------------------------------------------------------
06/04/2026   Behailu Tessema     Initial master ETL orchestration procedure.
------------------------------------------------------------------------------------------------***/
CREATE OR ALTER PROCEDURE [etl].[usp_Load_DW_FamilyFinance]
AS
BEGIN
    SET NOCOUNT ON; --------------------------------------------------------- -- Step 1 : Load Dimensions ---------------------------------------------------------
    EXECUTE etl.usp_Load_DimDate ;
    EXECUTE etl.usp_Load_DimBank ;
    EXECUTE etl.usp_Load_DimDescription ;
    EXECUTE etl.usp_Load_DimIncomeSource ; --------------------------------------------------------- -- Step 2 : Update Corrected Existing Fact Records ---------------------------------------------------------
    EXECUTE etl.usp_Update_FactExpense ;
    EXECUTE etl.usp_Update_FactIncome ; --------------------------------------------------------- -- Step 3 : Insert New Fact Records ---------------------------------------------------------
    EXECUTE etl.usp_Load_FactExpense ;
    EXECUTE etl.usp_Load_FactIncome ; --------------------------------------------------------- -- ETL Completion Status ---------------------------------------------------------
    SELECT 'DW_FamilyFinance Load Completed Successfully' AS LoadStatus,
           SYSDATETIME() AS LoadDateTime;
END